
<main id="main" class="habit-page">
  <div class="inner container-bgd thank-content">
    <div class="block-1">
      <h3 class="title">You’ve recieve extra Quit Points.</h3>
      <div class="badge"><img src="images/image-badge-silver.png" alt="silver badge" class="badge-img"/>
        <div class="point"><span>+25</span></div>
      </div>
      <p class="info">Thanks! You ‘ve recieved 25 extra<br>points for filling your </p>
    </div>
  </div><a href="javascript:;" ng-click="next()" class="btn btn-1"><span>{{l10n.button.continue}}</span></a>
</main>