section.career.load-ajax-finish#career
  h2.title Careers&nbsp;
    span We are always looking for talent
  .grid-fluid
    .positions-apply
      .row
        .col-sm-6
          h3.title Benefits
          .content
            p You’ll have the opportunity to work on major projects with global clients. We enable continuous learning and career development,and promote from within frequently so the opportunity for career advancement is excellent. in return, we expect that you are prepared to perform at an international standard level. 
            p If you would like to join the Sutrix Media team we welcome you and encourage you to post your resume. We are always open to meeting new people and we offer competitive salaries to those that have the skills required to perform the position applied for.
        .col-sm-6.open-position.custom-padding
          h3.title Open positions
          .content
            ul
              li
                +link-1('PHP Developer - HCMC-Vietnam')
                  span.icon-arrow
              li
                +link-1('QC - HCMC-Vietnam')
                  span.icon-arrow
              li
                +link-1('Front-ent Developer - HCMC-Vietnam')
                  span.icon-arrow
              li
                +link-1('Java Developer')
                  span.icon-arrow
              li
                +link-1('Project Manager')
                  span.icon-arrow
            .ajax-overlay.hide
              +img('../images/ajax_loader.gif')
    .positions-detail.hide
