.carousel-block {
  position: relative;
}
.carousel-block .flex-prev,
.carousel-block .flex-next {
  position: absolute;
  top: 48%;
  margin-top: -56px;
  width: 43px;
  height: 68px;
  text-indent: -9999px;
}
.carousel-block .flex-prev {
  left: 0px;
  background: url(../images/icon-prev.png) no-repeat left top;
}
.carousel-block .flex-next {
  right: 0px;
  background: url(../images/icon-next.png) no-repeat left top;
}
.carousel-block .flex-prev:hover {
  left: 0px;
}
.carousel-block .flex-next:hover {
  right: 0px;
}
