extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Sprite',
    link: 'template-sprite.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Homepage.psd',
    link: 'index.html',
    status: 'Cutting template',
    complete: '90%',
    startDate: '17/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Style Guide',
    link: 'login.html',
    status: 'Cutting template',
    complete: '90%',
    startDate: '22/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Hieu Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'landing.psd',
    link: 'landing.html',
    status: 'Cutting template',
    complete: '90%',
    startDate: '22/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Hieu Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'forgot-password.psd',
    link: 'forgot-password.html',
    status: 'Cutting template',
    complete: '90%',
    startDate: '22/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Hieu Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'registered.psd',
    link: 'registered.html',
    status: 'Cutting template',
    complete: '90%',
    startDate: '22/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Hieu Nguyen',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 1',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 2',
    status: 'Cutting template',
    complete: '%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'setting.psd',
    link: 'popin',
    status: 'Cutting template',
    complete: '90%',
    startDate: '19/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })
    +rowContent({
    class: 'template',
    no: 1,
    psd: '02-DetPage.psd',
    link: 'popin',
    status: 'Cutting template',
    complete: '30%',
    startDate: '19/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: '01-DetPage_A,01-DetPage_B',
    link: 'popin',
    status: 'Cutting template',
    complete: '90%',
    startDate: '19/12/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: '03-DiagramPage',
    link: 'tab',
    status: 'Cutting template',
    complete: '90%',
    startDate: '/26/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: '02-BilanPage',
    link: 'tab',
    status: 'Cutting template',
    complete: '60%',
    startDate: '/29/2014',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    codeReview: 'N',
    developer: 'Duy Ho',
    checkedBy: 'Leader name'
  })


