
<main id="main" class="register-page">
  <div class="inner container-bgd gender-content">
    <ul gk-panel-selector="gk-panel-selector" ng-model="gender">
      <li class="gend-box male active" data-value="MALE"><a href="javascript:;" title="">
          <h3 class="title">{{l10n.signUp.male}}</h3><img src="images/transparent.png" alt="{{l10n.signUp.male}}"/></a></li>
      <li class="gend-box female" data-value="FEMALE"><a href="javascript:;" title="">
          <h3 class="title">{{l10n.signUp.female}}</h3><img src="images/transparent.png" alt="{{l10n.signUp.female}}"/></a></li>
    </ul>
  </div><a href="javascript:;" ng-click="next()" class="btn btn-1 btn-arrow"><span>{{l10n.button.next}}</span></a>
</main>