.modal.fade#register-modal.register-modal.default-modal(tabindex='-1',aria-hidden='true')
  .modal-dialog
    .inner
      .carousel
        .setting-title.step-title
          h2.headline-4
            span.wi-icon.icon-add-1
            span(data-title) Registration
          span.wi-icon.close(data-dismiss='modal')
        .carousel-inner
          form#form-registered.form-registered.form-setting.form-horizontal(name="form-registered", action="json/error-salon.json", data-placeholder, novalidate="")
            .row
              .col-sm-7.col-sm-offset-2
                +input-text-setting('input-first-name','input-first-name','Firstname', 'Firstname')
                +input-text-setting('input-last-name','input-last-name','Lastname', 'Lastname')
                +input-text-setting('input-email-register','input-email-register','E-mail', 'Email')
                +input-text-setting('input-salon','input-salon','Salon name', 'Salon name')
                +input-text-setting('input-city','input-city','City', 'City')
                +input-password('Password', 'Password', 'input-password')
                .btn-group.footer-setting
                  .col-xs-5
                    button.btn.btn-cancel(type="button", data-dismiss="modal")!='Cancel'
                  .col-xs-7
                    button.btn.btn-confirm(type="submit")
                      span.icon-btn-check
                      | OK
