
<main id="main" class="leaving-page">
  <div class="inner">
    <div class="leaving-content-1">
      <p ng-bind-html="l10n.leaving.topMess1" class="top-message"></p><img src="images/upload/image-leaving-1.png" alt="image leaving 1"/>
      <p ng-bind-html="l10n.leaving.bottomMess1" class="bottom-message"></p><a href="javascript:;" title="{{l10n.button.leaveTeam}}" class="btn btn-4 link-color-1" ng-click="leaveTeam()">{{l10n.button.leaveTeam}}</a><a href="javascript:;" title="{{l10n.button.keepTeam}}" class="btn btn-5 link-color-1" ng-click="nav(&quot;/account-settings/leaving-3&quot;)">{{l10n.button.keepTeam}}</a>
    </div>
  </div>
</main>