doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gte IE 8]><html lang="en" class="no-js ie"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, minimal-ui, initial-scale=1, user-scalable=no")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //[if lte IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]
    link(rel="stylesheet", href="css/print.css", media="print")
    script(src="js/modernizr.js")

    #slider
      ul.slider-list
        li
          img(src="http://lorempixel.com/600/400/sports", alt="")
        li
          img(src="http://lorempixel.com/600/400/food", alt="")
        li
          img(src="http://lorempixel.com/600/400/nature", alt="")
        li
          img(src="http://lorempixel.com/600/400/sports", alt="")
        li
          img(src="http://lorempixel.com/600/400/people", alt="")
      a.prev Prev
      a.next Next
    script(src="js/l10n.js") 
    script(src="js/libs.js")
    script(src="js/script.js")