extends layouts/layout-home

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0



block main
  main
    .quiz-option
      .assessment-block.col-sm-6.col-xs-5
        .wrapper-block()
          .group-content(data-toggle="opening-modal", data-target="quiz-assessment-modal", data-href-ajax="begining-list.html", data-id="assessment")
            .group-text.text-white
              p.text-1 Begin
              p.text-2 your
              p.text-3 assessment
      .emotion-block.col-sm-6.col-xs-5
        +link-img('logo-salon-emotion.png', 'Emotion')(data-toggle="opening-modal", data-target="quiz-emotion-modal", data-href-ajax="question-list.html", data-id="emotion")
  .layer.overlay.hidden

