ul.quiz-content
  li.row(data-question-id='22')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 you dynamically adjust the width via javascript
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 you dynamically adjust the width via javascript
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 you dynamically adjust the width via javascript
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 you dynamically adjust the width via javascript
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 you dynamically adjust the width via javascript
    .check-list.row.col-sm-3
      .rating
        span.active(data-point='4')
        span.active(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')
  li.row(data-question-id='10')
    .text.col-sm-9 Examples in Each Chapter
    .check-list.row.col-sm-3
      .rating
        span(data-point='4')
        span(data-point='3')
        span.active(data-point='2')
        span.active(data-point='1')


