 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<script type="text/javascript" src="script.js"></script>
 <!--
 <html>
  <head>
    <title>AngularJS First Application</title>
  </head>
  <body>
    <h1>Sample Application</h1>
    <div ng-app = "myNoteCtrl">
      <p>Enter your Name: <input type="text" ng-model="getname"></p>
      <p>Hello <span ng-bind = "getname"></span>!</p>
    </div>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="myNoteApp.js"></script>
    <script src="myNoteCtrl.js"></script>

  </body>
</html> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

<!-- <html ng-app="AngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div >
  <div ng-controller="myNoteCtrl">
    <h2>My Note</h2>
    <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
    <p>
      <button ng-click="save()">Save</button>
      <button ng-click="clear()">Clear</button>
    </p>
    <p>Number of characters left: <span ng-bind="left()"></span></p>
  </div>
</div>
<script src="script.js"></script>
</body>
</html> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: angular validation
link: http://www.w3schools.com/angular/angular_validation.asp
-->
<!-- <!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h2>Validation Example</h2>

<form  ng-app="AngularApp" ng-controller="validateCtrl"
name="myForm" novalidate>

<p>Username:<br>
  <input type="text" name="user" ng-model="user" required>
  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
</p>

<p>Email:<br>
  <input type="email" name="email" ng-model="email" required>
  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
</p>

<p>
  <input type="submit"
  ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
</p>

</form>
<script src="script.js"></script>

</body>
</html> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: angular forms
link: http://www.w3schools.com/angular/angular_forms.asp
-->
<!-- <div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <div ng-app="AngularApp" ng-controller="formCtrl">
    <form novalidate>
      First Name:<br>
      <input type="text" ng-model="user.firstName"><br>
      Last Name:<br>
      <input type="text" ng-model="user.lastName">
      <br><br>
      <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
  </div>
  <script src="script.js"></script>
</div> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: Fetching Data From a PHP Server Running MySQL
link: http://www.w3schools.com/angular/angular_sql.asp
-->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div ng-app="AngularApp" ng-controller="customersCtrl">
<table>
  <tr ng-repeat="name in names">
    <td>{{ name.Name }}</td>
    <td>{{ name.City }}</td>
    <td>{{ name.Country }}</td>
  </tr>
</table>
</div>
<script src="script.js"></script> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: directives
link: https://docs.angularjs.org/guide/directive
-->
<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example11-production</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <script src="script.js"></script>
</head>
<body ng-app="AngularApp">
  <div ng-controller="customerCtrl"> -->
    <!-- <div my-direct></div> -->
    <!-- case 1, call directive by attribute -->
    <!-- <div customer-directive></div> -->

    <!-- case 2, call directive by tag name -->
    <!-- <customer-directive></customer-directive> -->

    <!-- case 3, call by class, it not show ??Why -->
    <!-- <div class="customer-directive"></div> -->
<!-- </div>
</body>
</html> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: directives
link: https://docs.angularjs.org/guide/directive
-->
<!-- <div ng-app="AngularApp" ng-controller="Controller">
  <customer-list info="customer1"></customer-list>
  <customer-list info="customer2"></customer-list>
</div> -->

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: directives- format time
link: https://docs.angularjs.org/guide/directive
-->
<!-- <div ng-app="AngularApp" ng-controller="getTimeCtlr">
    Date format: <input ng-model="format"> <hr/>
    Current time is: <span my-current-time="format"></span>
  </div>
 -->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!--
title: ham $watch trong scope
link: http://acegik.net/blog/javascript/angularjs/tim-hieu-ve-scope-trong-angularjs.html
$watch: theo doi su thay doi cua model
-->
<body ng-app="AngularApp" ng-controller=PersonalCtrl>
  <h2>Fullname: {{fullname}} </h2>
  <div class="record-field">
    <label>Fullname:</label>
    <input type="text" ng-model="fullname" />
  </div>
  <div class="record-field">
    <label>Email:</label>
    <input type="text" ng-model="email" />
  </div>
  <div class="record-field">
    <label>Address:</label>
    <input type="text" ng-model="address" />
  </div>
  <p>Name changes: "{{oldValue}}" to "{{newValue}} - ({{counter}})"</p>
  <button ng-click="resetName()">Reset name</button>
  <button id="reset-address">Reset address</button>
</body>