.modal.fade.error-modal#error-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .content
    .wi-icon.close(data-dismiss='modal')
    form.form-error.form#form-error(name="error", data-placeholder, novalidate="" data-replace)
      .message-group
        p.message This  email address has never been  used  to  access  to  the website.
        p.message This  email address has never been  used  to  access  to  the website.
      .form-group.wapper-button
        button#mess-error-ok.btn.button-green(type='button', data-dismiss='modal') OK
