.modal.fade.default-modal#forgot-pass(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog
    .inner
      span.wi-icon.close(data-dismiss='modal')
      .content
        h2.text-left.title-form Please fill your email address
        form.form-forgot.form#form-forgot(name="forgot", data-placeholder, action="json/forgot-password.json", novalidate="")
          .form-group.row
            .col-sm-8.col-xs-9
              +input('email', 'input-email-address', 'input-email-address', 'Email').form-control.col-sm-12
            .col-sm-4.col-xs-3
              button#mess-forgot-ok.pull-right.btn.btn-confirm(type='submit') OK
