#quiz-assessment-modal.quiz-modal.modal.fade.default-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-toggle="manage-modal")
  .modal-dialog
    .setting-title
      h2.headline-4
        | Salon Emotion
      span.wi-icon.close(data-dismiss='modal')
    .carousel-3.carousel.slide(data-ride="carousel", data-interval="false")
      .carousel-inner(role="listbox")
        #item-assessment.item-assessment.item.active(data-replace="")
          ul.quiz-content
            +checkbox-star('A Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempo abore','10')
            +checkbox-star('B Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempo abore','11')
            +checkbox-star('C Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempo abore','12')
            +checkbox-star('D Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempo abore','13')
        .block-page
          ul.page-list.col-sm-9.carousel-indicators
    .col-sm-3.col-sx-12.btn-outer
      button.btn.btn-confirm.pull-right(type="button", data-button-validate="true", data-link="json/save-quiz.json")
        span.icon-btn-check
        | VALIDATE
