
<main id="main" class="login login-1">
  <div class="content">
    <div class="group-singin"><a href="javascript:;" title="{{l10n.login.signUp}}" class="btn-default btn-login" ng-click="nav(&quot;/signup&quot;)">{{l10n.login.signUp}}</a><a href="javascript:;" title="{{l10n.login.signIn}}" class="btn-default btn-login" ng-click="nav(&quot;/login/login-2&quot;)">{{l10n.login.signIn}}</a>
    </div>
    <div class="group-bottom"><a href="#/tour" title="{{l10n.login.tour}}" class="tour-link">{{l10n.login.tour}}</a>
      <div class="content">
        <p><a title="{{l10n.login.viewPrivaceyPolicy}}" href="javascript:;" ng-click="nav(&quot;/privacy-policy&quot;)">{{l10n.login.viewPrivaceyPolicy}}</a></p>
      </div>
    </div>
  </div>
</main>