
<main id="main" class="welcome-back-page">
  <div class="inner">
    <div class="content"><img src="images/upload/welcome-back.png" alt="welcome back"/>
      <div class="desc">
        <p>{{l10n.login.welcomeBack}}</p>
      </div>
      <div class="btn-group"><a href="javascript:;" title="{{l10n.button.continue}}" class="btn btn-8" ng-click="continue()"><span>{{l10n.button.continue}}</span></a><a href="javascript:;" title="{{l10n.button.startFresh}}" class="btn btn-8" ng-click="startFresh()"><span>{{l10n.button.startFresh}}</span></a>
      </div>
    </div>
  </div>
</main>