.DS_Store
*.sublime-project
*.sublime-workspace
.settings
npm-debug.log
.cache
._*
Thumbs.db
node_modules
static
/app/views/locales/en_EN.json
/app/views/locales/fr_FR.json
/app/views/locales/jp_JP.json
/.grunt
