.sm-overlay.hide(data-popup-send-mail)
  .message-layer
    p!=$i18n.contact.select_notice
      span.name-office SUTRIX GROUP - HONG KONG
    .group-btn-mail
      +link('OK', 'javascript:void(0)').btn.btn-color(data-send-ok)
        span OK
      +link('Cancel', 'javascript:void(0)').btn.btn-color(data-send-cancel)
        span Cancel
