
@font-face {
    font-family: "Arimo-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fostyle/fonts/Arimo-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/fostyle/fonts/Arimo-Regular.woff") format("woff"), url("/Content/fostyle/fonts/Arimo-Regular.ttf") format("truetype"), url("/Content/fostyle/fonts/Arimo-Regularsvg#Arimo-Regular") format("svg");
}
@font-face {
    font-family: "Interstate-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fostyle/fonts/Interstate-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/fostyle/fonts/Interstate-Regular.woff") format("woff"), url("/Content/fostyle/fonts/Interstate-Regular.ttf") format("truetype"), url("/Content/fostyle/fonts/Interstate-Regular.svg#Interstate-Regular") format("svg");
}
@font-face {
    font-family: "Interstate-RegularVNU";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fostyle/fonts/Interstate-RegularVNU.eot?#iefix") format("embedded-opentype"), url("/Content/fostyle/fonts/Interstate-RegularVNU.woff") format("woff"), url("/Content/fostyle/fonts/Interstate-RegularVNU.ttf") format("truetype"), url("/Content/fostyle/fonts/Interstate-RegularVNU.svg#Interstate-RegularVNU") format("svg");
}
@font-face {
    font-family: "Interstate-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fostyle/fonts/Interstate-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/fostyle/fonts/Interstate-Bold.woff") format("woff"), url("/Content/fostyle/fonts/Interstate-Bold.ttf") format("truetype"), url("/Content/fostyle/fonts/Interstate-Bold.svg#Interstate-Bold") format("svg");
}
@font-face {
    font-family: "Interstate-BlackYR";
    font-style: normal;
    font-weight: normal;
    src: url("/Content/fostyle/fonts/Interstate-BlackYR.eot?#iefix") format("embedded-opentype"), url("/Content/fostyle/fonts/Interstate-BlackYR.woff") format("woff"), url("/Content/fostyle/fonts/Interstate-BlackYR.ttf") format("truetype"), url("/Content/fostyle/fonts/Interstate-BlackYR.svg#Interstate-BlackYR") format("svg");
}
html, body, div, span, embed, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, output, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, main, section, article, aside, canvas, details, summary, figure, figcaption, header, footer, hgroup, menu, nav, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    background: none repeat scroll 0 0 black;
}
body {
    background: none repeat scroll 0 0 #eee;
    color: #555;
    font-family: "Arimo-Regular",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
}
main, section, article, aside, details, summary, figure, figcaption, header, footer, hgroup, menu, nav {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
area, param {
    display: inline;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table, caption, tbody, thead, tfoot, tr, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0;
    padding: 0;
}
textarea {
    font-family: inherit;
    overflow: auto;
    resize: none;
    vertical-align: top;
}
input, select {
    vertical-align: middle;
}
select, button {
    text-transform: none;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
}
input[type="search"] {
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
b, strong, optgroup {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
small {
    font-size: 80%;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff0;
    color: #000;
    font-style: italic;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
code, kbd, pre, samp {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 1em;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
a {
    color: #555;
    text-decoration: none;
}
* {
}
:focus {
    border: 0 none;
    outline: 0 none;
}
a:visited {
    color: #494949;
}
a:hover {
    color: #000;
}
a:active {
    color: #3c3c3c;
}
a:focus {
    outline: 0 none;
}
.btn {
    background-color: black;
    border: 0 none;
    color: white;
    display: inline-block;
    font: 1.071em "Arimo-Regular",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 8px 15px 6px;
    text-align: center;
    transition: all 0.2s ease 0s;
}
.btn:hover {
    color: white;
    opacity: 0.8;
}
.btn:visited {
    color: white;
}
.btn-1 {
    padding: 9px 60px 8px;
}
.btn-2 {
    border-radius: 0;
    padding: 9px 40px;
}
.input-1 {
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-sizing: border-box;
    color: #333;
    height: 28px;
    margin: 6px 0 7px;
    outline: 0 none;
    padding: 0 5px;
    width: 100%;
}
.input-2 {
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 1.071em;
    height: 28px;
    outline: 0 none;
    padding: 0 5px;
    width: 100%;
}
.label-1 {
    color: #333;
}
.label-2 {
    color: #333;
    float: left;
    font-size: 1.071em;
    margin: 10px 5px 0 0;
    min-width: 80px;
}
.label-2 span {
    color: red;
}
.textarea-1 {
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 1.071em;
    height: 200px;
    outline: 0 none;
    padding: 5px;
    resize: vertical;
    width: 100%;
}
.checkbox {
    float: left;
    margin-top: 15px;
    padding-bottom: 25px;
}
.checkbox span {
    background: url("/Content/fostyle/images/icon-check.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    width: 18px;
}
.checkbox span input {
    opacity: 0;
}
.checkbox label {
    display: inline-block;
    padding-top: 2px;
    vertical-align: top;
}
.checkbox .checked {
    background-position: left bottom;
}
.content {
    clear: both;
    overflow: hidden;
}
.main-nav {
    background-color: black;
    height: 55px;
    padding: 0 0 0 60px;
}
.main-nav a {
    background: url("/Content/fostyle/images/grd-nav.png") no-repeat scroll 0 0.5em rgba(0, 0, 0, 0);
    color: white;
    display: inline-block;
    font-size: 1.357em;
    height: 55px;
    line-height: 55px;
    padding: 0 4%;
    text-transform: uppercase;
    vertical-align: top;
}
.main-nav a.active {
    background-color: white;
    color: black;
    font-family: "Interstate-Bold";
    margin-bottom: -23px;
    padding: 0 0 23px;
}
.main-nav a.active + a {
    background-image: none;
}
.main-nav a.active::before {
    background: url("/Content/fostyle/images/bgd-nav-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    float: left;
    height: 100%;
    margin: 0 40px -23px 0;
    padding-bottom: 23px;
    width: 8px;
}
.main-nav a.active::after {
    background: url("/Content/fostyle/images/bgd-nav-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    float: right;
    height: 100%;
    margin: 0 0 -23px 40px;
    padding-bottom: 23px;
    width: 8px;
}
#container .main-nav a.active {
    color: black;
}
.main-nav a:hover {
    color: #b3b3b3;
    transition: color 1s ease 0s;
}
.main-nav a:first-child {
    background: url("/Content/fostyle/images/icon-home.png") no-repeat scroll center 0.9em rgba(0, 0, 0, 0);
    padding: 0;
    text-indent: -9999px;
    width: 78px;
}
.main-nav a.active:first-child {
    background: url("/Content/fostyle/images/icon-home-active.png") no-repeat scroll center 0.9em #fff;
    padding-bottom: 23px;
}
.main-nav a.active:first-child::before {
    margin-right: 0;
}
.main-nav a.active:first-child::after {
    margin-left: 0;
}
.main-nav a:last-child {
    padding-right: 0;
}
.button-nav {
    border-left: 1px solid white;
    box-shadow: 0 0 25px 5px #d6d6d6 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 1px;
    padding: 18px 12px 11px 13px;
    width: 85px;
}
.button-nav span {
    background: linear-gradient(to bottom, #9a9a9a 0px, #000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 20px;
    display: block;
    height: 8px;
    margin-bottom: 10px;
}
.button-nav.active {
    background-color: black;
    box-shadow: none;
}
.button-nav.active span {
    background: none repeat scroll 0 0 white;
}
.main-nav-2 {
    background: url("/Content/fostyle/images/bgd-subnav.png") repeat-x scroll left bottom #000;
    box-sizing: border-box;
    font-size: 1.214em;
    font-weight: bold;
    overflow: hidden;
    padding: 0 20px;
    position: absolute;
    text-transform: uppercase;
    top: 84px;
    width: 100%;
    z-index: 9999;
}
.main-nav-2 a {
    background: url("/Content/fostyle/images/bgd-subnav.png") repeat-x scroll left bottom #000;
    box-sizing: border-box;
    color: white;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 50%;
}
.main-nav-2 a:last-child {
    background-image: none;
}
.main-nav-2 a.active {
    color: #999;
}
.heading {
    background: url("/Content/fostyle/images/bgd-heading-x.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
}
.heading h2 {
    border-bottom: 2px solid #333;
    color: #000;
    float: left;
    font-size: 1.5em;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.heading a {
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    float: right;
    padding: 6px 5px 7px;
}
.heading a:hover {
    background-color: #f1f1f1;
}
.heading a::before {
    background: url("/Content/fostyle/images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: right;
    height: 14px;
    margin-left: 10px;
    width: 16px;
}
.item-list-2 li {
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px #e5e5e5;
    margin-bottom: 45px;
    overflow: hidden;
    padding: 10px;
}
.item-list-2 li:last-child {
    margin-bottom: 20px;
}
.item-list-2 .thumbnail {
    background-color: white;
    float: left;
    max-width: 265px;
    text-align: center;
    transition: opacity 0.3s ease 0s;
    width: 36%;
}
.item-list-2 .thumbnail img {
    max-width: 100%;
}
.item-list-2 a:hover {
    opacity: 0.8;
}
.item-list-2 .description {
    overflow: hidden;
    padding-left: 15px;
}
.item-list-2 .infos {
    overflow: hidden;
}
.item-list-2 .infos p {
    float: left;
    font: 1.071em/1.2 "Interstate-Bold";
    width: 50%;
}
.item-list-2 .infos span {
    font-family: "Arimo-Regular",Helvetica,Arial,sans-serif;
}
.thumb-photo {
    float: left;
    max-width: 265px;
}
.heading-1 {
    border-bottom: 1px dotted #999;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 5px 0 15px;
    text-transform: uppercase;
}
.heading-1 h2 {
    box-sizing: border-box;
    color: black;
    float: left;
    font-size: 1.429em;
    padding-right: 10px;
    width: 75%;
}
.heading-1 h2 a {
    color: black;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.heading-1 h2 a:hover {
    opacity: 0.5;
}
.heading-1 h2 .sub-title {
    color: #666;
    display: block;
    font-size: 0.8em;
    padding-top: 5px;
}
.price-1 {
    color: black;
    float: right;
    font-size: 1.071em;
    max-width: 25%;
    overflow: hidden;
    text-transform: uppercase;
}
.price-1 span {
    display: block;
    font: 1.333em "Interstate-RegularVNU";
}
.description .details {
    border-bottom: 1px dotted #999;
    box-sizing: border-box;
    color: #666;
    margin-bottom: 12px;
    min-height: 120px;
    overflow: hidden;
    padding-bottom: 10px;
}
.description .details p {
    font-size: 1.071em;
    line-height: 1.4;
    padding-bottom: 10px;
}
.description .details p:last-child {
    padding-bottom: 0;
}
.description .details a:hover {
    text-decoration: underline;
}
.aboutuspage .description .details {
    border-bottom: 0 none;
    margin-bottom: 0;
    min-height: inherit;
}
.description .content p {
    font-size: 1.071em;
    line-height: 1.4;
    padding-bottom: 10px;
}
.description .content p:last-child {
    padding-bottom: 0;
}
.tabs {
    background: url("/Content/fostyle/images/bgd-tab-x.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 6px;
}
.block-4 .tabs {
    margin: 1px 1px 6px;
}
.tabs li {
    color: black;
    display: inline-block;
    font-size: 1.143em;
    height: 42px;
    line-height: 42px;
    position: relative;
    text-transform: uppercase;
}
.tabs li.active::after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    width: 0;
}
.tabs li.active a {
    background-color: black;
    color: white;
}
.tabs a {
    color: #555;
    display: block;
    padding: 0 25px;
    transition: all 0.2s ease 0s;
}
.tabs a:hover {
    background-color: black;
    color: white;
}
.form-block h2 {
    color: #000;
    font-size: 1.429em;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
}
.form-block .content {
    background-color: white;
    border: 1px solid #e5e5e5;
    margin-bottom: 35px;
    overflow: hidden;
    padding: 33px 35px 20px;
}
.form-block .content:first-child {
    padding: 0;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.center {
    text-align: center;
}
.mr15 {
    margin-right: 15px;
}
.property-module {
    margin-top: 30px;
    padding: 15px;
}
noscript {
    background: none repeat scroll 0 0 #eee;
    color: #555;
    opacity: 0.75;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}
.browsehappy {
    background: none repeat scroll 0 0 #eee;
    bottom: 0;
    color: #555;
    opacity: 0.75;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.black {
    color: black;
}
address {
    font-style: normal;
    line-height: 1.4;
}
.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.lightbox .content {
    background-color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 10px #000;
    color: white;
    left: 50%;
    margin-left: -142.5px;
    overflow: inherit;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 265px;
}
.lightbox .content h2 {
    color: black;
}
.lightbox .content strong {
    color: black;
}
.lightbox .content .close {
    position: absolute;
    right: -15px;
    top: -15px;
}
.lightbox .link-list {
    padding: 10px 0;
}
.lightbox .link-list li {
    font-size: 1.071em;
    line-height: 1.4;
    padding-bottom: 5px;
}
.lightbox .link-list a:hover {
    text-decoration: underline;
}
.list-3 li {
    color: #666;
    padding: 10px 0;
}
.list-3 .title {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.list-3 .title a {
    color: #000;
    font-size: 1.429em;
    text-transform: uppercase;
    vertical-align: middle;
}
.list-3 .title a:hover {
    color: #666;
}
.list-3 .title .icon {
    display: inline-block;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
    width: 25px;
}
.list-3 .title .icon img {
    max-width: 100%;
}
#main-slideshow {
    position: relative;
}
#main-slideshow .flex-viewport {
    background: url("/Content/fostyle/images/bgd-slider.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding-bottom: 40px;
}
#main-slideshow .slides {
    overflow: hidden;
}
#main-slideshow .slides li {
    display: none;
}
#main-slideshow .slides img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
#main-slideshow figure {
    position: relative;
}
#main-slideshow figcaption {
    bottom: 21%;
    left: 8.8%;
    position: absolute;
    width: 467px;
}
#main-slideshow .desc {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 16px;
}
#main-slideshow .desc h2 {
    font: 1.5em "Interstate-Regular";
    padding-bottom: 7px;
    text-transform: uppercase;
}
#main-slideshow .desc p {
    font-size: 1.071em;
    line-height: 1.5;
}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    height: 68px;
    margin-top: -56px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 43px;
    z-index: 2;
}
.flex-direction-nav .flex-prev {
    background: url("/Content/fostyle/images/icon-prev.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    left: 24px;
}
.flex-direction-nav .flex-next {
    background: url("/Content/fostyle/images/icon-next.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    right: 24px;
}
.flex-direction-nav .flex-prev:hover {
    left: 20px;
}
.flex-direction-nav .flex-next:hover {
    right: 20px;
}
.flex-direction-nav .flex-disabled {
    cursor: default;
    opacity: 0 !important;
}
#landing-slider {
    margin-bottom: 15px;
    position: relative;
}
#landing-slider .flex-viewport {
    background: url("/Content/fostyle/images/bgd-slider.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding-bottom: 40px;
}
#landing-slider .slides {
    overflow: hidden;
}
#landing-slider .slides li {
    display: none;
}
#landing-slider .slides img {
    display: block;
    max-width: 100%;
}
#project-slider, #plans-slider {
    position: relative;
}
#project-slider .slides li, #plans-slider .slides li {
    display: none;
    overflow: hidden;
    text-align: center;
}
#project-slider .slides img, #plans-slider .slides img {
    max-width: 100%;
}
#project-slider .flex-prev, #plans-slider .flex-prev, #project-slider .flex-next, #plans-slider .flex-next {
    height: 78px;
    margin-top: -39px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 38px;
    z-index: 99999;
}
#project-slider .flex-prev, #plans-slider .flex-prev {
    background-image: url("/Content/fostyle/images/icon-prev-1.png");
    left: 20px;
}
#project-slider .flex-next, #plans-slider .flex-next {
    background-image: url("/Content/fostyle/images/icon-next-1.png");
    right: 20px;
}
#project-slider .flex-disabled, #plans-slider .flex-disabled {
    display: none;
}
.flex-overlay {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#thumbs, #thumbnails {
    max-width: 1044px;
    position: relative;
}
#thumbs .slides, #thumbnails .slides {
    overflow: hidden;
    padding: 20px 0;
}
#thumbs .slides li, #thumbnails .slides li {
    border: 2px solid transparent;
    cursor: pointer;
    display: none;
    float: left;
    margin-right: 10px;
    opacity: 0.7;
    position: relative;
    transition: all 0.2s ease 0s;
    width: 135px;
}
#thumbs .slides li:hover, #thumbnails .slides li:hover {
    opacity: 1;
}
#thumbs .slides img, #thumbnails .slides img {
    display: block;
    height: 94px;
    width: 100%;
}
#thumbs .slides .flex-active-slide, #thumbnails .slides .flex-active-slide {
    border: 2px solid black;
    opacity: 1;
}
#thumbs .slides .flex-active-slide::before, #thumbnails .slides .flex-active-slide::before {
    border-bottom: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: -9px;
    width: 0;
}
#thumbs .flex-prev, #thumbnails .flex-prev, #thumbs .flex-next, #thumbnails .flex-next {
    height: 34px;
    margin-top: -17px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 34px;
}
#thumbs .flex-prev, #thumbnails .flex-prev {
    background-image: url("/Content/fostyle/images/icon-prev-2.png");
    left: -10px;
}
#thumbs .flex-next, #thumbnails .flex-next {
    background-image: url("/Content/fostyle/images/icon-next-2.png");
    right: -10px;
}
#thumbs .flex-disabled, #thumbnails .flex-disabled {
    display: none;
}
.popup-slider {
    overflow: hidden;
}
.popup-slider #container {
    max-width: 100%;
}
#popup-slider {
    position: relative;
}
#popup-slider .slides li {
    background-color: black;
    display: none;
    overflow: hidden;
    text-align: center;
}
#popup-slider .slides img {
    max-width: 100%;
}
#popup-slider .flex-prev, #popup-slider .flex-next {
    height: 78px;
    margin-top: -39px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 38px;
    z-index: 99999;
}
#popup-slider .flex-prev {
    background-image: url("/Content/fostyle/images/icon-prev-1.png");
    left: 20px;
}
#popup-slider .flex-next {
    background-image: url("/Content/fostyle/images/icon-next-1.png");
    right: 20px;
}
#popup-slider .flex-disabled {
    display: none;
}
#popup-slider-thumbs {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0 50px;
    position: fixed;
    right: 0;
}
#popup-slider-thumbs .flex-viewport {
    padding: 15px 0;
}
#popup-slider-thumbs .slides {
    overflow: hidden;
}
#popup-slider-thumbs .slides li {
    border: 2px solid transparent;
    cursor: pointer;
    display: none;
    margin-right: 10px;
    opacity: 0.7;
    position: relative;
    transition: all 0.2s ease 0s;
    width: 196px;
}
#popup-slider-thumbs .slides li:hover {
    border-color: white;
    opacity: 1;
}
#popup-slider-thumbs .slides img {
    display: block;
    height: 150px;
    width: 100%;
}
#popup-slider-thumbs .slides .flex-active-slide {
    border: 2px solid black;
    opacity: 1;
}
#popup-slider-thumbs .slides .flex-active-slide:hover {
    border-color: black;
}
#popup-slider-thumbs .flex-prev, #popup-slider-thumbs .flex-next {
    height: 34px;
    position: absolute;
    text-indent: -9999px;
    top: 70px;
    width: 34px;
}
#popup-slider-thumbs .flex-prev {
    background-image: url("/Content/fostyle/images/icon-prev-2.png");
    left: 10px;
}
#popup-slider-thumbs .flex-next {
    background-image: url("/Content/fostyle/images/icon-next-2.png");
    right: 10px;
}
#popup-slider-thumbs .flex-disabled {
    display: none;
}
.block-1 {
    box-sizing: border-box;
    height: 463px;
    padding-bottom: 15px;
}
.block-2 {
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 2px 2px #e5e5e5;
    box-sizing: border-box;
    height: 390px;
    margin-bottom: 46px;
    padding: 17px 19px;
}
.block-2:last-child {
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 5px;
}
.block-2 .heading {
    margin-bottom: 10px;
}
.block-2 .editor {
    max-height: 320px;
}
.block-2 .editor p {
    line-height: 1.45;
    text-align: justify;
    word-wrap: break-word;
}
.block-2 .editor ul, .block-2 .editor ol {
    padding-top: 10px;
}
.block-2 .editor li {
    line-height: 1.45;
}
.block-2 .editor a:hover {
    text-decoration: underline;
}
.block-2 .title {
    color: black;
    font-size: 1em;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.block-2 .company address {
    font-family: "Interstate-RegularVNU";
    line-height: 1.7;
}
.block-2 .company a:hover {
    text-decoration: underline;
}
.block-3 {
    border-right: 1px solid #333;
    box-sizing: border-box;
    float: left;
    min-height: 180px;
    padding: 10px 30px 0;
    width: 33.3%;
}
.block-3:first-child {
    border-left: 1px solid #333;
}
.block-3 p {
    font-size: 0.929em;
    line-height: 1.5;
    text-align: justify;
}
.block-3 h2 {
    color: white;
    font: 1em "Interstate-BlackYR";
    padding-bottom: 23px;
    text-transform: uppercase;
}
.block-3 .navigation-list {
    padding-top: 4px;
}
.block-3 .navigation-list li {
    box-sizing: border-box;
    float: left;
    font-size: 0.929em;
    padding-bottom: 19px;
    width: 50%;
}
.block-3 .social {
    padding-top: 30px;
    text-align: center;
}
.block-3 .social li {
    display: inline-block;
    margin: 0 12px 10px;
}
.block-3 .social li:first-child {
    margin-left: 0;
}
.block-3 .social li:last-child {
    margin-right: 0;
}
.block-3 .social li a:hover {
    opacity: 0.5;
}
.block-3 .editor ul, .block-3 .editor ol {
    padding-top: 10px;
}
.block-3 .editor li {
    line-height: 1.45;
}
.block-4 {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 3px #ccc;
    margin-bottom: 3px;
    overflow: hidden;
}
.block-4 .tab-box {
    overflow: hidden;
    padding: 15px;
}
.form-block {
    padding-top: 20px;
}
.notice {
    display: none;
}
#map-canvas {
    height: 388px;
    margin-bottom: 20px;
    max-width: 100%;
}
.popup-box {
    padding: 20px 20px 30px;
}
.info-list {
    display: none;
}
#container {
    margin: 0 auto;
    max-width: 1200px;
}
#container > .inner {
    background-color: #f7f7f7;
}
#header {
    background: url("/Content/fostyle/images/grd-header-x.png") repeat-x scroll 0 100% #fff;
    height: 140px;
    overflow: hidden;
}
#header .logo {
    float: left;
    margin: 15px 0 0 70px;
    position: relative;
}
#main {
    overflow: hidden;
    padding: 10px 60px 30px;
}
.main-content {
    overflow: hidden;
}
.homepage .main-content {
    float: left;
    max-width: 66%;
}
#sidebar {
    float: right;
    max-width: 30%;
}
#footer {
    background-color: #111;
    color: #cdcdcd;
}
#footer > .inner {
    margin: 0 auto;
    overflow: hidden;
    padding: 35px 60px;
}
#footer > .inner a:link, #footer > .inner a:visited {
    color: #c2c2c2;
}
#footer > .inner a:hover, #footer > .inner a:active {
    text-decoration: underline;
}
#footer .copy-right {
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
}
.item-list-1 {
    overflow: hidden;
}
.item-list-1 li {
    background: url("/Content/fostyle/images/bgd-items.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
    margin-right: 30px;
    min-height: 1px;
    padding-bottom: 21px;
    position: relative;
    width: 33.3333%;
}
.item-list-1 li:nth-child(3n+1) {
    margin-left: 0;
}
.item-list-1 li a {
    display: block;
    transition: opacity 0.2s ease 0s;
}
.item-list-1 li a:hover {
    opacity: 0.8;
}
.item-list-1 figure img {
    display: block;
    width: 100%;
}
.item-list-1 figcaption .title {
    background-color: black;
    color: white;
    font-size: 1.143em;
    height: 39px;
    overflow: hidden;
    padding: 6px 12px;
    text-transform: uppercase;
}
.item-list-1 figcaption .detail {
    background-color: #0c0f14;
    box-sizing: border-box;
    color: #ccc;
    font: 0.929em/1.4 Arial;
    height: 68px;
    overflow: hidden;
    padding: 7px 12px 8px;
}
.item-list-1 figcaption .detail > p {
    height: 100%;
    overflow: hidden;
}
.item-list-1 figcaption .price {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: black;
    font-size: 1em;
    padding: 9px 5px 12px;
    text-transform: uppercase;
}
.item-list-1 figcaption .price span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    text-transform: none;
}
.search-list li:last-child {
    padding-top: 10px;
}
.officers {
    background: url("/Content/fostyle/images/bgd-officers.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    margin-bottom: 11px;
    padding-top: 14px;
}
.officers li {
    overflow: hidden;
    padding-bottom: 20px;
}
.officers h4 {
    border-bottom: 1px solid #efefef;
    color: #333;
    font-size: 1em;
    margin: 0 35px 3px 10px;
    padding-bottom: 9px;
}
.officers .email {
    background: url("/Content/fostyle/images/icon-mail.png") no-repeat scroll left 0.4em rgba(0, 0, 0, 0);
    font: 0.929em Arial;
    margin-left: 79px;
    padding: 0 0 4px 15px;
}
.officers .email:hover {
    text-decoration: underline;
}
.officers .phone {
    background: url("/Content/fostyle/images/icon-phone.png") no-repeat scroll left 0.4em rgba(0, 0, 0, 0);
    font: 0.929em Arial;
    margin-left: 79px;
    padding-left: 15px;
}
.officers .thumb {
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    float: left;
    height: 64px;
    margin-right: 6px;
    padding: 3px;
    width: 64px;
}
.officers .thumb img {
    border-radius: 50%;
    display: block;
    max-width: 100%;
}
.error-price {
    color: red;
    display: none;
    margin-bottom: -10px;
    position: relative;
    top: -5px;
}
.tab-box > .description {
    overflow: hidden;
    padding: 0 0 0 15px;
}
.tab-box > .description h2 {
    border-bottom: 1px dotted #999;
    color: black;
    font-size: 1.429em;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 12px;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
}
#holidays .description {
    padding: 0;
}
.paging {
    background-color: #e3e3e3;
    border-bottom: 1px solid #bcbcbc;
    box-sizing: border-box;
    height: 40px;
    margin-top: 44px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
}
.paging a {
    display: block;
    height: 20px;
    line-height: 22px;
    padding: 0 8px;
}
.paging a:hover {
    text-decoration: underline;
}
.paging .active a {
    background-color: black;
    color: white;
    text-decoration: none;
}
.paging > li {
    display: inline-block;
    max-width: 215px;
    padding: 10px 0;
    vertical-align: top;
    width: 40%;
}
.paging > li.prev {
    text-align: right;
    width: 5px;
}
.paging > li.prev a {
    padding: 0;
}
.paging > li.next {
    text-align: left;
    width: 5px;
}
.paging > li.next a {
    padding: 0;
}
.paging > li:first-child {
    text-align: right;
    width: 25%;
}
.paging > li:first-child a {
    padding: 0 5px 0 0;
}
.paging > li:last-child {
    text-align: left;
    width: 25%;
}
.paging > li:last-child a {
    padding: 0 0 0 5px;
}
.paging ol {
    display: inline-block;
    height: 20px;
    max-width: 300px;
    overflow: hidden;
}
.paging ol li {
    display: inline-block;
    vertical-align: top;
}
.holiday-projects {
    overflow: hidden;
    padding-top: 20px;
}
.holiday-projects li {
    float: left;
    padding-bottom: 20px;
    text-align: center;
    width: 49%;
}
.holiday-projects li:nth-child(2n+1) {
    margin-right: 2%;
}
.holiday-projects li a {
    transition: all 0.2s ease 0s;
}
.holiday-projects li a img {
    max-width: 100%;
}
.holiday-projects li a:hover {
    opacity: 0.7;
}
.holiday-projects li p {
    color: black;
    padding-top: 10px;
}
.module {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}
.module figure {
    margin-bottom: 30px;
    overflow: hidden;
}
.module figure img {
    max-width: 100%;
}
.module .sketcs {
    margin: 0 auto 30px;
    max-width: 750px;
    position: relative;
}
.module .sketcs-slider {
    margin-bottom: 35px;
    min-height: 500px;
    overflow: hidden;
    position: relative;
}
.module .sketcs-slider .slides > li {
    text-align: center;
}
.module .sketcs-slider .slides > li > a {
    display: block;
    padding: 30px 0;
    text-align: center;
}
.loading {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.info-box {
    float: left;
    margin-right: 20px;
    max-width: 60%;
}
#sketcs .info-box {
    margin-right: 50px;
    min-height: 1px;
    width: 60%;
}
#sketcs .info-box .status-box {
    float: none;
    left: 0;
    margin-top: 5px;
    position: relative;
    top: 0;
    width: 340px;
}
#sketcs .inden-dors {
    min-height: 260px;
    overflow: hidden;
}
#sketcs .inden-dors .heading-1 {
    border-bottom: 0 none;
    margin-bottom: 0;
}
.sketcs-detail {
    min-height: 530px;
    padding-bottom: 35px;
    position: relative;
}
.sketcs-detail .detail-img {
    display: block;
    margin: 0 auto;
}
.sketcs-detail .tooltip-box li {
    background-color: #fff;
    border: 1px solid #959595;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    left: 0;
    min-width: 20px;
    padding: 7px 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 99;
}
.sketcs-detail .tooltip-box li::after {
    background: url("/Content/fostyle/images/icon-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -11px;
    content: "";
    height: 11px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 12px;
}
.sketcs-detail .tooltip-box li.sold::after {
    background-image: url("/Content/fostyle/images/icon-black.png");
}
.sketcs-detail .tooltip-box li span {
    color: #000;
}
.sketcs-detail .tooltip-box li.sold {
    background-color: black;
}
.sketcs-detail .tooltip-box li.sold span {
    color: white;
}
.selectbox {
    position: relative;
}
.selectbox a {
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    color: #939393;
    display: block;
    font-family: "Arimo-Regular",Helvetica,Arial,sans-serif;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.selectbox select {
    display: none;
}
.selectbox a .title {
    font-size: 1.071em;
}
.selectbox a .icon-arrow-down {
    background: url("/Content/fostyle/images/arrow-down.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border-left: 1px solid #d0d0d0;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.selectbox .selected {
    color: #000;
}
.selectbox .selectlist {
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    box-sizing: border-box;
    height: 150px;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 42px;
    transform: none;
    width: 100%;
}
.selectbox .selectlist li {
    color: #000;
    cursor: pointer;
    font-size: 1.071em;
    line-height: 30px;
    padding: 0 10px;
}
.selectbox .selectlist li:hover, .selectbox .selectlist li:focus, .selectbox .selectlist li.focus {
    background-color: #d0d0d0;
}
.info-box .heading-1 h2 {
    padding-right: 0;
    width: 100%;
}
.info-box .details {
    min-height: inherit;
}
.info-box .price-1 {
    float: none;
    max-width: 100%;
}
.status-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-right: 1px solid #ccc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 -4px #000;
    box-sizing: border-box;
    float: right;
    margin-top: 15px;
    position: relative;
    width: 33.5%;
    z-index: 10;
}
.status-box::after {
    bottom: 10px;
    box-shadow: 0 10px 20px #ccc;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    transform: rotate(4deg);
    width: 200px;
    z-index: -1;
}
#sketcs .status-box {
    left: 20px;
    margin: 0;
    min-width: 250px;
    position: absolute;
    top: 20px;
    width: 40%;
    z-index: 999;
}
.status-box li {
    font-size: 1.071em;
    overflow: hidden;
    padding: 8px 19px 8px 18px;
}
.status-box li:first-child {
    color: black;
    font-size: 1.429em;
}
.status-box li:nth-child(2n) {
    background-color: #e4e4e4;
}
.status-box li:nth-child(2n+1) {
    background-color: #f7f7f7;
}
.status-box li strong {
    float: right;
}
.status-box p {
    background-color: white;
    padding: 10px;
}
.video-iframe {
    border: 0 none;
    margin-bottom: 20px;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}
.detail-box {
    float: left;
    margin: 8px 20px 15px 0;
    min-width: 210px;
    overflow: hidden;
    width: 30%;
}
.detail-box h3 {
    padding: 20px 0 10px;
}
.button-list-1 {
    overflow: hidden;
}
.button-list-1 li {
    float: left;
    width: 49%;
}
.button-list-1 li:first-child {
    margin-right: 2%;
}
.button-list-1 .btn {
    display: block;
}
.btn-fb {
    background: url("/Content/fostyle/images/icon-fb.png") no-repeat scroll 98% 50% #000;
    padding-right: 25px;
}
.item-list-4 li {
    font-size: 1.071em;
    padding: 8px 13px 9px 10px;
}
.item-list-4 li:nth-child(2n+1) {
    background-color: #f7f7f7;
}
.item-list-4 li:nth-child(2n) {
    background-color: #e4e4e4;
}
.item-list-4 li strong {
    float: right;
}
.item-list-5 {
    margin: 10px 0 20px;
}
.item-list-5 li {
    padding-bottom: 4px;
}
.item-list-5 a {
    background: url("/Content/fostyle/images/icon-arrow.png") no-repeat scroll 0 0.4em rgba(0, 0, 0, 0);
    color: #666;
    padding-left: 10px;
    text-decoration: underline;
}
.item-list-5 a:hover {
    text-decoration: none;
}
.block-4 .description {
    overflow: hidden;
}
.block-4 .description h3 {
    font-size: 1.286em;
    padding-bottom: 5px;
}
.block-4 .description > .content p {
    font-size: 1.071em;
    line-height: 1.3;
    padding-bottom: 20px;
}
.page-1 .tab-box {
    padding: 10px 15px 35px;
}
.page-1 .description {
    border-left: 1px dotted #999;
    color: #777;
    line-height: 1.214em;
    overflow: hidden;
    text-align: justify;
}
.page-1 .description strong {
    font-size: 1.214em;
}
.page-1 .description p {
    font-size: 1em;
    line-height: 1.3;
    padding-bottom: 15px;
}
.page-1 .description p:last-child {
    padding-bottom: 0;
}
.list-form {
    overflow: hidden;
}
.list-form > li {
    box-sizing: border-box;
    float: left;
    padding: 0 0 18px;
    width: 49%;
}
.list-form > li:nth-child(2n+1) {
    margin-right: 2%;
}
.list-form > li.describ {
    padding: 0;
    width: 100%;
}
.list-form > li:last-child {
    margin: 0;
    padding: 15px 0 0;
    width: 100%;
}
.list-form > li > span {
    display: block;
    overflow: hidden;
}
.button-list {
    float: right;
}
.button-list li {
    display: inline-block;
}
.text-list {
    list-style: inside none disc;
}
.text-list li {
    line-height: 1.4;
    padding-bottom: 5px;
    text-align: left;
}
.alert-layer {
    color: red;
    font-size: 0.929em;
    line-height: 1.3;
}
.checkbox .alert-layer {
    width: 250px;
}
.aboutuspage .heading-1 h2 {
    padding-right: 0;
    width: 100%;
}
.item-list-6 li {
    border-bottom: 1px dotted #999;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 30px;
}
.item-list-6 .description {
    overflow: hidden;
    padding-left: 15px;
}
.item-list-6 .left-box {
    box-sizing: border-box;
    float: left;
    margin-bottom: 15px;
    padding: 0 15px 15px 0;
    width: 288px;
}
.item-list-6 .left-box .name {
    background-color: black;
    color: white;
    font-size: 1.214em;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 11px 5px 13px 17px;
    text-transform: uppercase;
}
.item-list-6 .left-box .content {
    padding: 0 15px;
}
.item-list-6 .left-box p {
    color: black;
    padding-bottom: 0;
}
.item-list-6 .left-box a {
    color: black;
}
.item-list-6 .left-box a:hover {
    text-decoration: underline;
}
.item-list-6 .right-box {
    border-left: 1px dotted #999;
    min-height: 245px;
    overflow: hidden;
    padding-left: 10px;
}
.item-list-6 .right-box p {
    font-size: 1.071em;
    line-height: 1.3;
    padding-bottom: 15px;
}
.contactpage .heading-1 h2 {
    background: url("/Content/fostyle/images/icon-2.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    margin-bottom: 0;
    padding: 7px 0 0 20px;
    width: 100%;
}
.contactpage .details {
    border-bottom: 0 none;
    margin: 0;
    padding: 0 0 0 20px;
}
.contactpage .details .title {
    font-size: 1.214em;
    margin-bottom: 18px;
}
.contactpage .details p {
    line-height: 1;
    padding-bottom: 0;
}
.back-link {
    background: url("/Content/fostyle/images/back-arrow.gif") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 12px;
}
@media only screen and (max-width: 1024px) {
.main-nav a {
    font-size: 1.2em;
    padding: 0 2.7%;
}
.main-nav a.active::before {
    margin: 0 30px -23px 0;
}
.main-nav a.active::after {
    margin: 0 0 -23px 30px;
}
.block-1 {
    height: auto;
}
#sidebar {
    max-width: 33.33%;
}
.homepage .main-content {
    max-width: 63%;
}
.item-list-6 li {
    padding-bottom: 0;
}
.item-list-6 .left-box {
    border-bottom: 1px dotted #999;
    padding-right: 0;
    width: 100%;
}
.item-list-6 .right-box {
    border: 0 none;
    clear: both;
    min-height: inherit;
    padding: 0;
}
.paging {
    margin-top: 28px;
}
.block-3 .social li {
    margin: 0 7px 10px;
}
.button-list-1 li {
    width: 100%;
}
.button-list-1 li:first-child {
    margin: 0 0 15px;
}
.notice {
    display: block;
}
.video-iframe {
    height: 481px;
}
}
@media only screen and (max-width: 800px) {
#header .logo {
    margin: 15px 0 0 31px;
}
.main-nav {
    padding: 0 20px;
}
.main-nav a {
    padding: 0 2% 23px;
}
.main-nav a.active::before {
    margin: 0 10px -23px 0;
}
.main-nav a.active::after {
    margin: 0 0 -23px 20px;
}
#main {
    padding: 15px 20px;
}
#main-slideshow .flex-viewport {
    background-size: 800px 27px;
    padding-bottom: 27px;
}
#main-slideshow .flex-next, #main-slideshow .flex-prev {
    background-size: 29px 45px;
    height: 45px;
    margin-top: -40px;
    width: 29px;
}
.item-list-2 figure {
    padding-right: 10px;
    width: 210px;
}
.item-list-2 .infos p {
    padding-bottom: 10px;
    width: 100%;
}
.block-3 {
    width: 50%;
}
.block-3:nth-child(3) {
    display: none;
}
.aboutuspage .heading-1 {
    border-bottom: 0 none;
    margin: 0;
    padding: 0;
}
.heading-1 h2 {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    padding: 0 0 10px;
    width: 100%;
}
.heading-1 .price-1 {
    clear: both;
    float: none;
    max-width: 100%;
}
.info-box .heading-1 {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.advisorypage .thumb-photo {
    margin: 0 0 10px;
    max-width: 100%;
}
.video-iframe {
    height: 400px;
}
.page-1 .description {
    border: 0 none;
    padding: 0;
    width: 100%;
}
#footer > .inner {
    padding: 25px 20px;
}
}
@media only screen and (max-width: 768px) {
body {
    font-size: 13px;
}
.tabs li {
    font-size: 1em;
}
.page-1 .tab-box {
    padding: 10px;
}
.page-1 .description {
    box-sizing: border-box;
    height: 350px;
    overflow: auto;
    padding-right: 10px;
}
.page-1 .description strong {
    font-size: 1.077em;
}
.page-1 .main-content h2 {
    font-size: 1.231em;
}
.contactpage .details .title {
    font-size: 1.077em;
}
.block-4 .tab-box {
    padding: 10px;
}
.block-4 .description h3 {
    font-size: 1.077em;
}
.block-4 .description > .content p {
    padding-bottom: 10px;
}
.tab-box > .description {
    clear: both;
}
.description .details {
    min-height: inherit;
}
.info-box .price-1 {
    font-size: 1em;
}
.info-box .price-1 span {
    font-size: 1.231em;
}
.heading-1 h2 {
    font-size: 1.231em;
}
.heading-1 h2 .sub-title {
    font-size: 0.75em;
}
.heading-1 .price-1 {
    font-size: 0.923em;
}
.heading-1 .price-1 span {
    font-size: 1.333em;
}
.item-list-2 .infos p {
    font-size: 0.923em;
}
.item-list-2 .description {
    padding-left: 10px;
}
.status-box li {
    font-size: 0.923em;
}
.status-box li:first-child {
    font-size: 1.231em;
}
.detail-box {
    float: none;
    margin-right: 0;
    width: 100%;
}
.detail-box > .item-list-4 {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.detail-box > .item-list-4 li {
    font-size: 0.923em;
}
.detail-box h3 {
    font-size: 1.077em;
    padding-top: 0;
}
.detail-box .under {
    overflow: hidden;
    padding-left: 10px;
}
.thumb-photo {
    margin: 0 0 10px;
}
.button-list-1 li {
    width: 49%;
}
.button-list-1 li:first-child {
    margin: 0 2% 0 0;
}
.list-form > li {
    width: 100%;
}
.list-form > li:nth-child(2n+1) {
    margin: 0;
}
.label-2 {
    font-size: 1em;
}
.video-iframe {
    height: 388px;
}
.item-list-1 figcaption .detail {
    padding: 7px 12px 10px;
}
.block-2:last-child {
    height: auto;
}
}
@media only screen and (max-width: 767px) {
#header {
    height: 85px;
    overflow: visible;
    padding: 0;
    position: relative;
}
#header .logo {
    margin-left: 20px;
}
.main-nav {
    display: none;
}
.button-nav {
    display: block;
}
#main-slideshow figcaption {
    background: none repeat scroll 0 0 #000;
    overflow: hidden;
    position: static;
    width: 100%;
}
#main-slideshow .flex-next, #main-slideshow .flex-prev {
    margin-top: -22.5px;
}
#sidebar {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: inherit;
    width: 100%;
}
.homepage .main-content {
    clear: both;
    max-width: inherit;
    width: 100%;
}
}
@media only screen and (max-width: 680px) {
#main {
    padding: 10px 20px;
}
#main-slideshow .btn {
    display: none;
}
#main-slideshow figcaption {
    bottom: 0;
    left: 0;
    width: 100%;
}
#main-slideshow .desc {
    padding: 10px;
}
#main-slideshow .desc h2 {
    font-size: 1.385em;
    padding-bottom: 0;
}
.item-list-2 .thumbnail {
    max-width: 100%;
    padding: 0 0 15px;
    width: 100%;
}
.item-list-2 .description {
    clear: both;
    padding: 0;
}
.item-list-2 .infos p {
    box-sizing: border-box;
    padding-right: 10px;
    width: 50%;
}
.item-list-6 .description {
    clear: both;
    padding: 1px 0 0;
}
.item-list-6 .left-box .content {
    padding: 0;
}
.module figcaption {
    overflow: hidden;
}
.module figcaption .details p:last-child {
    padding-bottom: 0;
}
.thumb-photo {
    max-width: 100%;
}
#aboutus-people .thumb-photo {
    margin: 0;
}
.info-box {
    margin: 0 0 20px;
    max-width: 100%;
}
.status-box {
    margin-bottom: 15px;
    width: 100%;
}
.page-1 .tab-box {
    padding: 5px;
}
.input-2 {
    width: 100%;
}
.form-block .content {
    padding: 5px 5px 20px;
}
.button-list-1 li {
    width: 100%;
}
.button-list-1 li:first-child {
    margin: 0 0 15px;
}
}
@media only screen and (max-width: 568px) {
.item-list-1 li {
    background: url("/Content/fostyle/images/brd-items-2.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    margin-right: 0;
    padding-bottom: 19px;
    width: 100%;
}
.item-list-1 figcaption .detail {
    height: auto;
}
.item-list-1 figcaption .title {
    height: auto;
}
.detail-box > .item-list-4 {
    width: 100%;
}
.detail-box .under {
    padding: 15px 0 0;
    width: 100%;
}
.list-form > li {
    width: 100%;
}
.checkbox {
    float: none;
}
.button-list {
    float: none;
    width: 100%;
}
.button-list li {
    margin-right: -4px;
    text-align: right;
    width: 50%;
}
.button-list li:first-child {
    text-align: left;
}
.button-list-1 {
    padding-bottom: 15px;
}
.button-list-1 li {
    width: 49%;
}
.button-list-1 li:first-child {
    margin: 0 2% 0 0;
}
}
@media only screen and (max-width: 480px) {
#main {
    padding: 10px;
}
#main-slideshow .slides img {
    height: 260px;
    max-width: none;
}
#project-slider .flex-prev, #project-slider .flex-next {
    background-size: 25px 50px;
    height: 50px;
    margin-top: -25px;
    width: 25px;
}
#thumbs .slides, #thumbnails .slides {
    padding: 10px 0;
}
.contactpage .heading-1 h2 {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tabs {
    margin-bottom: 10px;
}
.tabs li {
    text-align: center;
    width: 100%;
}
.item-list-2 .description {
    clear: both;
}
.item-list-2 .infos p:first-child {
    padding-bottom: 10px;
    width: 100%;
}
.item-list-2 .infos p:last-child {
    width: 100%;
}
.paging > li {
    max-width: 100px;
}
.price-1 {
    float: none;
    max-width: 100%;
}
.block-4 .tab-box {
    padding: 5px;
}
#footer > .inner {
    padding: 15px 0;
}
.block-3 {
    display: none;
    min-height: inherit;
}
.block-3:first-child {
    border: 0 none;
    display: block;
    width: 100%;
}
.block-3 .navigation-list li {
    width: 33.33%;
}
#sketcs .status-box {
    left: 0;
    top: 4px;
}
.video-iframe {
    height: 253px;
}
#map-canvas {
    height: 460px;
}
}
@media only screen and (max-width: 350px) {
#header {
    background-size: 1px 60px;
    height: 60px;
}
#header .logo {
    margin: 10px;
    max-width: 130px;
}
#header .logo img {
    max-width: 100%;
}
.button-nav {
    padding: 12px 11px 7px;
    width: 60px;
}
.button-nav span {
    height: 5px;
    margin-bottom: 8px;
}
.main-nav-2 {
    top: 59px;
}
#main {
    padding: 10px;
}
.paging {
    padding: 0;
}
.button-list li {
    margin-bottom: 10px;
    width: 100%;
}
.button-list .btn {
    margin-bottom: 5px;
    width: 100%;
}
.button-list-1 li {
    width: 100%;
}
.button-list-1 li:first-child {
    margin: 0 0 15px;
}
.block-3:first-child {
    padding: 10px;
}
.block-3 .navigation-list li {
    width: 50%;
}
.holiday-projects li {
    width: 100%;
}
#sketcs .status-box {
    min-width: inherit;
    width: 100%;
}
}
@media print {
body {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    text-shadow: none;
}
img, fieldset {
    border: 0 none;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9em;
}
ol, ul {
    list-style-type: none;
}
ol li, ul li {
    list-style-type: disc;
}
dt {
    font-weight: bold;
}
a, a:visited {
    color: #000;
    text-decoration: underline;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
input, select, textarea {
    border: 1px solid #000;
}
input {
    padding: 1px 0;
}
select {
    background: none repeat scroll 0 0 #fff;
    line-height: normal;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
pre, blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
}
div {
    text-align: left;
}
caption {
    display: none;
}
table {
    border-collapse: separate;
    border-left: 1px solid #000;
    border-spacing: 0;
    border-top: 1px solid #000;
}
table th, table td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
    text-align: left;
}
tr, img {
    page-break-inside: avoid;
}
}
.carousel-block {
    position: relative;
}
.carousel-block .flex-prev, .carousel-block .flex-next {
    height: 68px;
    margin-top: -56px;
    position: absolute;
    text-indent: -9999px;
    top: 48%;
    width: 43px;
}
.carousel-block .flex-prev {
    background: url("/Content/fostyle/images/icon-prev.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    left: 0;
}
.carousel-block .flex-next {
    background: url("/Content/fostyle/images/icon-next.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    right: 0;
}
.carousel-block .flex-prev:hover {
    left: 0;
}
.carousel-block .flex-next:hover {
    right: 0;
}
