@font-face {
  font-family: 'Arimo-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Arimo-Regular.eot');
  src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Arimo-Regular.woff') format('woff'), url('../fonts/Arimo-Regular.ttf') format('truetype'), url('../fonts/Arimo-Regularsvg#Arimo-Regular') format('svg');
}

@font-face {
  font-family: 'Interstate-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Interstate-Regular.eot');
  src: url('../fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Interstate-Regular.woff') format('woff'), url('../fonts/Interstate-Regular.ttf') format('truetype'), url('../fonts/Interstate-Regular.svg#Interstate-Regular') format('svg');
}
@font-face {
  font-family: 'Interstate-RegularVNU';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Interstate-RegularVNU.eot');
  src: url('../fonts/Interstate-RegularVNU.eot?#iefix') format('embedded-opentype'), url('../fonts/Interstate-RegularVNU.woff') format('woff'), url('../fonts/Interstate-RegularVNU.ttf') format('truetype'), url('../fonts/Interstate-RegularVNU.svg#Interstate-RegularVNU') format('svg');
}
@font-face {
  font-family: 'Interstate-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Interstate-Bold.eot');
  src: url('../fonts/Interstate-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Interstate-Bold.woff') format('woff'), url('../fonts/Interstate-Bold.ttf') format('truetype'), url('../fonts/Interstate-Bold.svg#Interstate-Bold') format('svg');
}
@font-face {
  font-family: 'Interstate-BlackYR';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Interstate-BlackYR.eot');
  src: url('../fonts/Interstate-BlackYR.eot?#iefix') format('embedded-opentype'), url('../fonts/Interstate-BlackYR.woff') format('woff'), url('../fonts/Interstate-BlackYR.ttf') format('truetype'), url('../fonts/Interstate-BlackYR.svg#Interstate-BlackYR') format('svg');
}
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: black;
}
body {
  background: #eeeeee;
  color: #555555;
  font-family: 'Arimo-Regular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
main,
section,
article,
aside,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
area, param {display: inline;}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input,
select {
  vertical-align: middle;
}
select,
button {
  text-transform: none;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
b,
strong,
optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #555555;
  text-decoration: none;
}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
:focus {
  outline: 0;
  border: none;
  /*color: rgba(0, 0, 0, 0);*/
}
a:visited {
  color: #494949;
}
a:hover {
  color: #000000;
}
a:active {
  color: #3c3c3c;
}
a:focus {
  outline: 0;
}
.btn {
  display: inline-block;
  padding: 8px 15px 6px;
  margin: 0;
  border: none;
  font: 1.071em 'Arimo-Regular', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn:hover {
  opacity: 0.8;
  color: white;
}
.btn:visited {
  color: white;
}
.btn-1 {
  padding: 9px 60px 8px;
}
.btn-2 {
  padding: 9px 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-1 {
  padding: 0 5px;
  margin: 6px 0 7px;
  width: 100%;
  height: 28px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-2 {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  font-size: 1.071em;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  color: #333;
}
.label-1 {
  color: #333;
}
.label-2 {
  float: left;
  min-width: 80px;
  font-size: 1.071em;
  margin: 10px 5px 0 0;
  color: #333;
}
.label-2 span {
  color: red;
}
.textarea-1 {
  padding: 5px;
  resize: vertical;
  width: 100%;
  height: 200px;
  border: 1px solid #D5D5D5;
  color: #333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.071em;
  outline: none;
  background-color: white;
}
.checkbox {
  float: left;
  padding-bottom: 25px;
  margin-top: 15px;
}
.checkbox span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/icon-check.png) no-repeat left top;
}
.checkbox span input {
  opacity: 0;
}
.checkbox label {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
}
.checkbox .checked {
  background-position: left bottom;
}
.content {
  overflow: hidden;
  clear: both;
}
.main-nav {
  height: 55px;
  padding: 0 0 0 4px;
  background-color: black;
}
.main-nav a {
  display: inline-block;
  vertical-align: top;
  padding: 0 4%;
  height: 55px;
  line-height: 55px;
  color: white;
  font-size: 1.357em;
  text-transform: uppercase;
  background: url(../images/grd-nav.png) no-repeat 0 0.5em;
}
.main-nav a.active {
  padding: 0 0 23px;
  margin-bottom: -23px;
  color: black;
  font-family: 'Interstate-Bold';
  background-color: white;
}
.main-nav a.active + a {
  background-image: none;
}
.main-nav a.active:before {
  content: '';
  float: left;
  padding-bottom: 23px;
  margin: 0 40px -23px 0;
  width: 8px;
  height: 100%;
  background: url(../images/bgd-nav-left.png) no-repeat 0 0;
}
.main-nav a.active:after {
  content: '';
  float: right;
  padding-bottom: 23px;
  margin: 0 0 -23px 40px;
  width: 8px;
  height: 100%;
  background: url(../images/bgd-nav-right.png) no-repeat 0 0;
}
#container .main-nav a.active {
  color: black;
}
.main-nav a:hover {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  color: #b3b3b3;
}
.main-nav a:first-child {
  padding: 0;
  background-image: none;
  /*width: 78px;
  text-indent: -9999px;
  background: url(../images/icon-home.png) no-repeat center 0.9em;*/
}
.main-nav a:first-child.active {
  /*padding-bottom: 23px;
  background: #ffffff url(../images/icon-home-active.png) no-repeat center 0.9em;*/
}
.main-nav a:first-child.active:before {
  margin-right: 0;
}
.main-nav a:first-child.active:after {
  margin-left: 0;
}
.main-nav a:last-child {
  padding-right: 0;
}
.button-nav {
  display: none;
  float: right;
  padding: 18px 12px 11px 13px;
  margin-top: 1px;
  border-left: 1px solid white;
  cursor: pointer;
  width: 85px;
  -webkit-box-shadow: inset 0 0 25px 5px #d6d6d6;
  -moz-box-shadow: inset 0 0 25px 5px #d6d6d6;
  box-shadow: inset 0 0 25px 5px #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button-nav span {
  display: block;
  margin-bottom: 10px;
  height: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /*background: linear-gradient(#9a9a9a, #000000);*/
  background: #9a9a9a; /* Old browsers */
  background: -moz-linear-gradient(top,  #9a9a9a 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a9a9a), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9a9a9a 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9a9a9a 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9a9a9a 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9a9a9a 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.button-nav.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: black;
}
.button-nav.active span {
  background: white;
}
.main-nav-2 {
  position: absolute;
  top: 84px;
  z-index: 9999;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 1.214em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #000000 url(../images/bgd-subnav.png) repeat-x left bottom;
}
.main-nav-2 a {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 50%;
  color: white;
  background: #000000 url(../images/bgd-subnav.png) repeat-x left bottom;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-nav-2 a:last-child {
  background-image: none;
}
.main-nav-2 a.active {
  color: #999;
}
.heading {
  overflow: hidden;
  margin-bottom: 25px;
  clear: both;
  background: url(../images/bgd-heading-x.png) repeat-x left bottom;
}
.heading h2 {
  float: left;
  padding-bottom: 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  color: #000;
  font-size: 1.5em;
}
.heading a {
  float: right;
  line-height: 18px;
  padding: 9px 10px 5px 10px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
}
.heading a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.heading a:before {
  content: '';
  float: right;
  width: 7px;
  height: 14px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  background: url(../images/icon-1.png) no-repeat right center;
}
.item-list-2 li {
  padding: 10px;
  margin-bottom: 45px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px #e5e5e5;
  -moz-box-shadow: 0 3px #e5e5e5;
  box-shadow: 0 3px #e5e5e5;
  border: 1px solid #e5e5e5;
  background-color: white;
}
.item-list-2 li:last-child {
  margin-bottom: 20px;
}
.item-list-2 .thumbnail {
  float: left;
  max-width: 265px;
  max-height:234px;
  overflow:hidden;
  width: 36%;
  background-color: white;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.item-list-2 a:hover {
  opacity: 0.8;
}
.item-list-2 .description {
  overflow: hidden;
  padding-left: 15px;
}
.item-list-2 .infos {
  overflow: hidden;
}
.item-list-2 .infos p {
  float: left;
  width: 50%;
  font: 1.071em/1.2 'Interstate-Bold';
}
.item-list-2 .infos span {
  font-family: 'Arimo-Regular', Helvetica, Arial, sans-serif;
}
.thumb-photo {
  float: left;
  max-width: 265px;
}
.heading-1 {
  overflow: hidden;
  padding: 5px 0 15px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #999;
  text-transform: uppercase;
}
.heading-1 h2 {
  float: left;
  width: 75%;
  padding-right: 10px;
  font-size: 1.429em;
  color: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.heading-1 h2 a {
  display: inline-block;
  overflow: hidden;
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.heading-1 h2 a:hover {
  opacity: 0.5;
}
.heading-1 h2 .sub-title {
  display: block;
  font-size: 0.8em;
  color: #666;
  padding-top: 5px;
}
.price-1 {
  float: right;
  overflow: hidden;
  max-width: 25%;
  font-size: 1.071em;
  text-transform: uppercase;
  color: black;
}
.price-1 span {
  display: block;
  font: 1.333em 'Interstate-RegularVNU';
}
.description .details {
  padding-bottom: 10px;
  margin-bottom: 12px;
  min-height: 120px;
  overflow: hidden;
  border-bottom: 1px dotted #999;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.description .details p {
  padding-bottom: 10px;
  font-size: 1.071em;
  line-height: 1.4;
}
.description .details p:last-child {
  padding-bottom: 0;
}
.description .details a:hover {
  text-decoration: underline;
}
.aboutuspage .description .details {
  border-bottom: none;
  margin-bottom: 0;
  min-height: inherit;
}
.description .content p {
  padding-bottom: 10px;
  font-size: 1.071em;
  line-height: 1.4;
}
.description .content p:last-child {
  padding-bottom: 0;
}
.tabs {
  margin-bottom: 6px;
  background: url(../images/bgd-tab-x.png) repeat 0 0;
}
.block-4 .tabs {
  margin: 1px 1px 6px;
}
.tabs li {
  position: relative;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  font-size: 1.143em;
  color: black;
  text-transform: uppercase;
}
.tabs li.active:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.tabs li.active a {
  color: white;
  background-color: black;
}
.tabs a {
  display: block;
  padding: 0 25px;
  color: #555555;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tabs a:hover {
  color: white;
  background-color: black;
}
.form-block h2 {
  margin-bottom: 15px;
  font-size: 1.429em;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  text-align: left;
}
.form-block .content {
  padding: 33px 35px 20px;
  margin-bottom: 35px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  background-color: white;
}
.form-block .content:first-child {
  padding: 0;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.center {
  text-align: center;
}
.mr15 {
  margin-right: 15px;
}
.property-module {
  padding: 15px;
  margin-top: 30px;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #eeeeee;
  color: #555555;
  text-align: center;
  opacity: 0.75;
}
.browsehappy {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #eeeeee;
  color: #555555;
  text-align: center;
  opacity: 0.75;
}
.black {
  color: black;
}
address {
  font-style: normal;
  line-height: 1.4;
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.lightbox .content {
  overflow: inherit;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
  color: white;
  background-color: white;
  width: 265px;
  margin-left: -142.5px;
}
.lightbox .content h2 {
  color: black;
}
.lightbox .content strong {
  color: black;
}
.lightbox .content .close {
  position: absolute;
  top: -15px;
  right: -15px;
}
.lightbox .link-list {
  padding: 10px 0 10px;
}
.lightbox .link-list li {
  padding-bottom: 5px;
  line-height: 1.4;
  font-size: 1.071em;
}
.lightbox .link-list a:hover {
  text-decoration: underline;
}
.list-3 li {
  color: #666;
  padding: 10px 0;
   border-bottom: 1px dotted #999;
}
.list-3 .title {
  margin-bottom: 10px;
  padding-bottom: 5px;

}
.list-3 .title a {
  display: inline-block;
  color: #000;
  font-size: 1.429em;
  text-transform: uppercase;
  vertical-align: middle;
}
.list-3 .title a .desc {
  display: block;
  text-transform: none;
    color: #666;
    font-size: 14px;
}
.list-3 .title a:hover {
  color: #666;
}
.list-3 .title a:hover .desc{
  opacity: 0.8;
}
.list-3 .title .icon {
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.list-3 .title .icon img {
  max-width: 100%;
}
#main-slideshow {
  position: relative;
}
#main-slideshow .flex-viewport {
  padding-bottom: 40px;
  background: url(../images/bgd-slider.png) no-repeat center bottom;
}
#main-slideshow .slides {
  overflow: hidden;
}
#main-slideshow .slides li {
  display: none;
}
#main-slideshow .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#main-slideshow figure {
  position: relative;
}
#main-slideshow figcaption {
  position: absolute;
  bottom: 21%;
  left: 8.8%;
  width: 467px;
}
#main-slideshow .desc {
  padding: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}
#main-slideshow .desc a {

  color: #fff;

}
#main-slideshow .desc a:hover {
  opacity: 0.8;
}
#main-slideshow .desc h2 {
  padding-bottom: 7px;
  font: 1.5em 'Interstate-Regular';
  font-weight: normal;
  text-transform: uppercase;
}
#main-slideshow .desc p {
  font-size: 1.071em;
  line-height: 1.5;
}
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
  position: absolute;
  top: 50%;
  margin-top: -56px;
  width: 43px;
  height: 68px;
  text-indent: -9999px;
  z-index: 2;
}
.flex-direction-nav .flex-prev {
  left: 24px;
  background: url(../images/icon-prev.png) no-repeat left top;
}
.flex-direction-nav .flex-next {
  right: 24px;
  background: url(../images/icon-next.png) no-repeat left top;
}
.flex-direction-nav .flex-prev:hover {
  left: 20px;
}
.flex-direction-nav .flex-next:hover {
  right: 20px;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
#landing-slider {
  position: relative;
  margin-bottom: 15px;
}
#landing-slider .flex-viewport {
  padding-bottom: 40px;
  background: url(../images/bgd-slider.png) no-repeat center bottom;
}
#landing-slider .slides {
  overflow: hidden;
}
#landing-slider .slides li {
  display: none;
}
#landing-slider .slides img {
  max-width: 100%;
  display: block;
}
#project-slider,
#plans-slider {
  position: relative;
}
#project-slider .slides li,
#plans-slider .slides li {
  display: none;
  overflow: hidden;
  text-align: center;
}
#project-slider .slides img,
#plans-slider .slides img {
  max-width: 100%;
}
#project-slider .flex-prev,
#plans-slider .flex-prev,
#project-slider .flex-next,
#plans-slider .flex-next {
  position: absolute;
  top: 50%;
  margin-top: -39px;
  width: 38px;
  height: 78px;
  text-indent: -9999px;
  z-index: 99999;
}
#project-slider .flex-prev,
#plans-slider .flex-prev {
  left: 20px;
  background-image: url(../images/icon-prev-1.png);
}
#project-slider .flex-next,
#plans-slider .flex-next {
  right: 20px;
  background-image: url(../images/icon-next-1.png);
}
#project-slider .flex-disabled,
#plans-slider .flex-disabled {
  display: none;
}
.flex-overlay {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}
#thumbs,
#thumbnails {
  position: relative;
  max-width: 1044px;
}
#thumbs .slides,
#thumbnails .slides {
  padding: 20px 0;
  overflow: hidden;
}
#thumbs .slides li,
#thumbnails .slides li {
  position: relative;
  float: left;
  width: 135px;
  display: none;
  margin-right: 10px;
  opacity: 0.7;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#thumbs .slides li:hover,
#thumbnails .slides li:hover {
  opacity: 1;
}
#thumbs .slides img,
#thumbnails .slides img {
  display: block;
  width: 100%;
  height: 94px;
}
#thumbs .slides .flex-active-slide,
#thumbnails .slides .flex-active-slide {
  border: 2px solid black;
  opacity: 1;
}
#thumbs .slides .flex-active-slide:before,
#thumbnails .slides .flex-active-slide:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-bottom: 7px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
#thumbs .flex-prev,
#thumbnails .flex-prev,
#thumbs .flex-next,
#thumbnails .flex-next {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  text-indent: -9999px;
}
#thumbs .flex-prev,
#thumbnails .flex-prev {
  left: -10px;
  background-image: url(../images/icon-prev-2.png);
}
#thumbs .flex-next,
#thumbnails .flex-next {
  right: -10px;
  background-image: url(../images/icon-next-2.png);
}
#thumbs .flex-disabled,
#thumbnails .flex-disabled {
  display: none;
}
.popup-slider {
  overflow: hidden;
}
.popup-slider #container {
  max-width: 100%;
}
#popup-slider {
  position: relative;
}
#popup-slider .slides li {
  display: none;
  background-color: black;
  text-align: center;
  overflow: hidden;
}
#popup-slider .slides img {
  max-width: 100%;
}
#popup-slider .flex-prev,
#popup-slider .flex-next {
  position: absolute;
  top: 50%;
  margin-top: -39px;
  width: 38px;
  height: 78px;
  text-indent: -9999px;
  z-index: 99999;
}
#popup-slider .flex-prev {
  left: 20px;
  background-image: url(../images/icon-prev-1.png);
}
#popup-slider .flex-next {
  right: 20px;
  background-image: url(../images/icon-next-1.png);
}
#popup-slider .flex-disabled {
  display: none;
}
#popup-slider-thumbs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.15);
}
#popup-slider-thumbs .flex-viewport {
  padding: 15px 0;
}
#popup-slider-thumbs .slides {
  overflow: hidden;
}
#popup-slider-thumbs .slides li {
  position: relative;
  display: none;
  width: 196px;
  margin-right: 10px;
  opacity: 0.7;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#popup-slider-thumbs .slides li:hover {
  opacity: 1;
  border-color: white;
}
#popup-slider-thumbs .slides img {
  display: block;
  width: 100%;
  height: 150px;
}
#popup-slider-thumbs .slides .flex-active-slide {
  border: 2px solid black;
  opacity: 1;
}
#popup-slider-thumbs .slides .flex-active-slide:hover {
  border-color: black;
}
#popup-slider-thumbs .flex-prev,
#popup-slider-thumbs .flex-next {
  position: absolute;
  top: 70px;
  width: 34px;
  height: 34px;
  text-indent: -9999px;
}
#popup-slider-thumbs .flex-prev {
  left: 10px;
  background-image: url(../images/icon-prev-2.png);
}
#popup-slider-thumbs .flex-next {
  right: 10px;
  background-image: url(../images/icon-next-2.png);
}
#popup-slider-thumbs .flex-disabled {
  display: none;
}
.block-1 {
  padding-bottom: 15px;
  height: 463px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-2 {
  padding: 17px 19px;
  margin-bottom: 46px;
  height: 390px;
  border: 1px solid #e5e5e5;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px #e5e5e5;
  -moz-box-shadow: 2px 2px #e5e5e5;
  box-shadow: 2px 2px #e5e5e5;
}
.block-2:last-child {
  margin-bottom: 0;
  padding-bottom: 5px;
  overflow: hidden;
}
.block-2 .heading {
  margin-bottom: 10px;
}
.block-2 .editor {max-height: 320px;}
.block-2 .editor p {
  line-height: 1.45;
  text-align: justify;
  word-wrap: break-word;
}
.block-2 .editor ul,
.block-2 .editor ol {
  padding-top: 10px;
}
.block-2 .editor li {
  line-height: 1.45;
}
.block-2 .editor a:hover {
  text-decoration: underline;
}
.block-2 .title {
  padding-bottom: 4px;
  text-transform: uppercase;
  color: black;
  font-size: 1em;
}
.block-2 .company address {
  line-height: 1.7;
  font-family: 'Interstate-RegularVNU';
}
.block-2 .company a:hover {
  text-decoration: underline;
}
.block-3 {
  float: left;
  width: 33.3%;
  min-height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 30px 0;
  border-right: 1px solid #333;
}
.block-3:first-child {
  border-left: 1px solid #333;
}
.block-3 p {
  line-height: 1.5;
  font-size: 0.929em;
  text-align: justify;
}
.block-3 h2 {
  padding-bottom: 23px;
  text-transform: uppercase;
  color: white;
  font: 1em 'Interstate-BlackYR';
}
.block-3 .navigation-list {
  padding-top: 4px;
}
.block-3 .navigation-list li {
  float: left;
  width: 50%;
  padding-bottom: 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.929em;
}
.social {
  padding-top: 10px;
  text-align: center;
  background-color: #000;
}
.button-list-1 .social li {
  display: inline-block;
  margin: 0 12px 10px;
  float: none;
  width: auto;
}
.button-list-1 .social li:first-child {
  margin-left: 0;
}
.button-list-1 .social li:last-child {
  margin-right: 0;
}
.button-list-1 .social li a:hover {
  opacity: 0.5;
}
.block-3 .editor ul,
.block-3 .editor ol {
  padding-top: 10px;
}
.block-3 .editor li {
  line-height: 1.45;
}
.block-4 {
  border: 1px solid #ccc;
  margin-bottom: 3px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 3px #cccccc;
  -moz-box-shadow: 0 3px #cccccc;
  box-shadow: 0 3px #cccccc;
}
.block-4 .tab-box {
  padding: 15px;
  overflow: hidden;
}
.form-block {
  padding-top: 20px;
}
.notice {
  display: none;
}
#map-canvas {
  max-width: 100%;
  height: 388px;
  margin-bottom: 20px;
}
.popup-box {
  padding: 20px 20px 30px;
}
.info-list {
  display: none;
}
#container {
  margin: 0 auto;
  max-width: 1200px;
}
#container > .inner {
  background-color: #f7f7f7;
}
#header {
  overflow: hidden;
  height: 140px;
  background: #ffffff url(../images/grd-header-x.png) repeat-x 0 100%;
}
#header .logo {
  /*float: left;*/
  position: relative;
}
#header .logo img {
  height: 45px;
  margin: 5px 10px;
}
#main {
  overflow: hidden;
  padding: 10px 60px 30px;
}
.main-content {
  overflow: hidden;
}
.homepage .main-content, .newsletter-index-page .main-content{
  width: 66%;
  float: left;
}
#sidebar {
  float: right;

  width: 30%;
}
#footer {
  color: #cdcdcd;
  background-color: #111;
}
#footer > .inner {
  margin: 0 auto;
  padding: 35px 60px;
  overflow: hidden;
}
#footer > .inner a:link,
#footer > .inner a:visited {
  color: #c2c2c2;
}
#footer > .inner a:hover,
#footer > .inner a:active {
  text-decoration: underline;
}
#footer > .inner a.btn-fb {
  color: #333;
}
#footer .copy-right {
  padding: 14px 0;
  font-family: Arial;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
}
.item-list-1 {
  overflow: hidden;
}
.item-list-1 li {
  float: left;
  padding-bottom: 21px;
  margin-bottom: 10px;
  background: url(../images/bgd-items.png) no-repeat center bottom;
  margin-right: 30px;
  position: relative;
  min-height: 1px;
  width: 33.333333%;
  box-sizing: border-box;
}
.item-list-1 li:nth-child(3n+1) {
  margin-left: 0;
}

.item-list-1 li a {
  display: block;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.item-list-1 li a:hover {
  opacity: 0.8;
}
.item-list-1 figure {
  overflow: hidden;
  position: relative;
  height: 357px;
  background-color: black;
}
.item-list-1 figure .thumb {
  overflow: hidden;
  display: block;
  max-height: 50%;
}
.item-list-1 figure img {
  min-height: 100%;
  min-width: 100%;
}
.item-list-1 figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-list-1 figcaption .title {
  padding: 6px 12px;
  height: 39px;
  color: white;
  font-size: 1.143em;
  text-transform: uppercase;
  background-color: black;
  overflow: hidden;
}
.item-list-1 figcaption .detail {
  padding: 7px 12px 8px;
  overflow: hidden;
  height: 68px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ccc;
  font: 0.929em/1.4 Arial;
  background-color: #0c0f14;
}
.item-list-1 figcaption .detail > p {
  height: 100%;
  overflow: hidden;
}
.item-list-1 figcaption .price {
  padding: 9px 5px 12px;
  border: 1px solid #ccc;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #f1f1f1;
  min-height: 35px;
}
.item-list-1 figcaption .price span {
  display: block;
  margin-top: 10px;
  text-transform: none;
  font-size: 12px;
}
.search-list li:last-child {
  padding-top: 10px;
}
.officers {
  padding-top: 14px;
  margin-bottom: 11px;
  background: url(../images/bgd-officers.png) no-repeat left bottom;
}
.officers li {
  overflow: hidden;
  padding-bottom: 20px;
}
.officers h4 {
  padding-bottom: 9px;
  margin: 0 35px 3px 10px;
  border-bottom: 1px solid #efefef;
  color: #333;
  font-size: 1em;
}
.officers .email {
  padding: 0 0 4px 15px;
  margin-left: 79px;
  font: 0.929em Arial;
  background: url(../images/icon-mail.png) no-repeat left 0.4em;
}
.officers .email:hover {
  text-decoration: underline;
}
.officers .phone {
  padding-left: 15px;
  margin-left: 79px;
  font: 0.929em Arial;
  background: url(../images/icon-phone.png) no-repeat left 0.4em;
}
.officers .thumb {
  float: left;
  margin-right: 6px;
  padding: 3px;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  background-color: white;
}
.officers .thumb img {
  display: block;
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.error-price {
  display: none;
  position: relative;
  top: -5px;
  margin-bottom: -10px;
  color: red;
}
.tab-box > .description {
  overflow: hidden;
  padding: 0 0 0 15px;
}
.tab-box > .description h2 {
  padding-bottom: 15px;
  margin-bottom: 12px;
  border-bottom: 1px dotted #999;
  color: black;
  line-height: 1.3;
  font-size: 1.429em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
#holidays .description {
  padding: 0;
}
.paging {
  padding: 0 20px;
  margin-top: 44px;
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #bcbcbc;
  text-align: center;
  background-color: #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.paging a {
  display: block;
  padding: 0 8px;
  height: 20px;
  line-height: 22px;
}
.paging a:hover {
  text-decoration: underline;
}
.paging .active a {
  background-color: black;
  color: white;
  text-decoration: none;
}
.paging > li {
  display: inline-block;
  padding: 10px 0;
  vertical-align: top;
  width: 40%;
  max-width: 215px;
}
.paging > li.prev {
  width: 5px;
  text-align: right;
}
.paging > li.prev a {
  padding: 0;
}
.paging > li.next {
  width: 5px;
  text-align: left;
}
.paging > li.next a {
  padding: 0;
}
.paging > li:first-child {
  width: 25%;
  text-align: right;
}
.paging > li:first-child a {
  padding: 0 5px 0 0;
}
.paging > li:last-child {
  width: 25%;
  text-align: left;
}
.paging > li:last-child a {
  padding: 0 0 0 5px;
}
.paging ol {
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  height: 20px;
}
.paging ol li {
  display: inline-block;
  vertical-align: top;
}
.holiday-projects {
  padding-top: 20px;
  overflow: hidden;
}
.holiday-projects li {
  float: left;
  width: 49%;
  padding-bottom: 20px;
  text-align: center;
}
.holiday-projects li:nth-child(odd) {
  margin-right: 2%;
}
.holiday-projects li a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.holiday-projects li a img {
  max-width: 100%;
}
.holiday-projects li a:hover {
  opacity: 0.7;
}
.holiday-projects li p {
  padding-top: 10px;
  color: black;
}
.module {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
}
.module figure {
  margin-bottom: 30px;
  overflow: hidden;
}
.module figure img {
  max-width: 100%;
}
.module .sketcs {
  position: relative;
  /*max-width: 750px;*/
  margin: 0 auto 30px;
}

.module .sketcs-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
  min-height: 500px;
}

.module .sketcs-slider .slides > li {
  text-align: center;
}

.module .sketcs-slider .slides > li > a {
  display: block;
  text-align: center;
  padding: 30px 0;
}
.loading {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
.info-box {
  float: left;
  margin-right: 20px;
  max-width: 60%;
}
#sketcs .info-box {
  margin-right: 50px;
  width: 60%;
  min-height: 1px;
}
#sketcs .info-box .status-box {
  position: absolute;
  top: 0;
  left: 0;
  float: none;
  /*width: 26%;*/
  width: 20%;
  margin-top: 5px;
}
#sketcs .status-detail {width: 20%;}
#sketcs .inden-dors {
  overflow: hidden;
  min-height: 260px;
}
#sketcs .inden-dors .heading-1 {
  border-bottom: none;
  margin-bottom: 0;
}
.sketcs-detail {
  position: relative;
  padding-bottom: 35px;
  min-height: 530px;
}
.sketcs-detail .detail-img {
    display: block;
    margin: 30px auto;
}
.sketcs-detail .tooltip-box li {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #959595;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  padding: 7px 10px;
  text-transform: uppercase;
  min-width: 20px;
  font-size: 0.9em;
  text-align: center;
  z-index: 99;
}

.sketcs-detail .tooltip-box li:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 11px;
  margin-left: -6px;
  bottom: -11px;
  left: 50%;
  background: url(../images/icon-white.png) no-repeat;
}
.sketcs-detail .tooltip-box li.sold:after {
  background-image: url(../images/icon-black.png);
}
.sketcs-detail .tooltip-box li span {
  color: #000;
}
.sketcs-detail .tooltip-box li.sold {
  background-color: black;

}
.sketcs-detail .tooltip-box li.sold span {
  color: white;
}
.selectbox{
  position: relative;

}
.selectbox a {
  position: relative;
  border: 1px solid #d0d0d0;
  line-height: 40px;
  padding: 0 10px;
  width: 100%;
  display: block;
  color: #939393;
  font-family: 'Arimo-Regular', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.selectbox select {
  display: none;
}
.selectbox a .title {
  font-size: 1.071em;
}
.selectbox a .icon-arrow-down {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  border-left: 1px solid #d0d0d0;
  background: url(../images/arrow-down.png) no-repeat center;
  width: 40px;
  height: 40px;
}
.selectbox .selected {
  color: #000;
}
.selectbox .selectlist {
  position: absolute;
  top: 42px;
  left: 0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  box-sizing: border-box;
  transform: none;
}
.selectbox .selectlist li {
  padding: 0 10px;
  line-height: 30px;
  cursor: pointer;
  font-size: 1.071em;
  color: #000;
}
.selectbox .selectlist li:hover,
.selectbox .selectlist li:focus,
.selectbox .selectlist li.focus {
  background-color: #d0d0d0;
}
.info-box .heading-1 h2 {
  width: 100%;
  padding-right: 0;
}
.info-box .details {
  min-height: inherit;
}
.info-box .price-1 {
  float: none;
  max-width: 100%;
}
.status-box {
  float: right;
  /*margin-top: 15px;*/
  margin: 0 auto;
  width: 26%;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 -4px #000000;
  -moz-box-shadow: 0 -4px #000000;
  box-shadow: 0 -4px #000000;
  position: relative;
  z-index: 10;
}
.status-box:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 10px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  -webkit-box-shadow: 0 10px 20px #cccccc;
  -moz-box-shadow: 0 10px 20px #cccccc;
  box-shadow: 0 10px 20px #cccccc;
  z-index: -1;
}
#sketcs .status-box {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  width: 26%;
  z-index: 99;
}
#sketcs-slide .status-box-backdrop {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 5;
}

#sketcs-slide >.status-box {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -13%;
  width: 26%;
  z-index: 99;
}

#sketcs .status-box.fixed-top{
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  width: 26%;
  z-index: 99;
}

#sketcs .box-description{
    left: 2px;
    top: 5px;
    width: 30%;
    text-align:justify;
}
#sketcs .status-box-control{
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background: transparent url(../images/question-icon.png) no-repeat 100% 50%;
  background-size: cover;
  z-index: 4;
}
.status-box li {
  overflow: hidden;
  padding: 8px 19px 8px 18px;
  font-size: 1.071em;
}
.status-box li:first-child {
  font-size: 1.429em;
  color: black;
}
.status-box li:nth-child(even) {
  background-color: #e4e4e4;
}
.status-box li:nth-child(odd) {
  background-color: #f7f7f7;
}
.status-box li strong {
  float: right;
}
.status-box p {
  background-color: white;
  padding: 10px;
  font-size: 12px;
}
.video-iframe {
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  visibility: hidden;
}
.detail-box {
  float: left;
  margin: 8px 20px 15px 0;
  overflow: hidden;
  width: 30%;
  min-width: 210px;
}
.detail-box h3 {
  padding: 20px 0 10px;
}
.button-list-1 {
  overflow: hidden;
}
.button-list-1 .btn {
  padding-top: 16px;
  padding-bottom: 16px;
}
.button-list-1 > li {
  float: left;
  width: 49%;
  max-height: 47px;
}
.button-list-1 > li:first-child {
  margin-right: 2%;
}
.button-list-1 .btn {
  display: block;
}
.block-3 .btn-fb {
  padding-right: 33px;
  margin-top: 10px;
  background: #ffffff url(../images/icon-fb.png) no-repeat 98% 50%;
}
.item-list-4 li {
  padding: 8px 13px 9px 10px;
  font-size: 1.071em;
}
.item-list-4 li:nth-child(odd) {
  background-color: #f7f7f7;
}
.item-list-4 li:nth-child(even) {
  background-color: #e4e4e4;
}
.item-list-4 li strong {
  float: right;
}
.item-list-5 {
  margin: 10px 0 20px;
}
.item-list-5 li {
  padding-bottom: 4px;
}
.item-list-5 a {
  padding-left: 10px;
  text-decoration: underline;
  color: #666;
  background: url(../images/icon-arrow.png) no-repeat 0 0.4em;
}
.item-list-5 a:hover {
  text-decoration: none;
}
.block-4 .description {
  overflow: hidden;
}
.block-4 .description h3 {
  padding-bottom: 5px;
  font-size: 1.286em;
}
.block-4 .description > .content p {
  padding-bottom: 20px;
  font-size: 1.071em;
  line-height: 1.3;
}
.page-1 .tab-box {
  padding: 10px 15px 35px;
}
.page-1 .description {
  overflow: hidden;
  border-left: 1px dotted #999;
  color: #777;
  line-height: 1.214em;
  text-align: justify;
}
.page-1 .description strong {
  font-size: 1.214em;
}
.page-1 .description p {
  padding-bottom: 15px;
  font-size: 1em;
  line-height: 1.3;
}
.page-1 .description p:last-child {
  padding-bottom: 0;
}
.list-form {
  overflow: hidden;
}
.list-form > li {
  float: left;
  width: 49%;
  padding: 0 0 18px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-form > li:nth-child(2n+1) {
  margin-right: 2%;
}
.list-form > li.describ {
  width: 100%;
  padding: 0;
}
.list-form > li:last-child {
  width: 100%;
  padding: 15px 0 0;
  margin: 0;
}
.list-form > li > span {
  display: block;
  overflow: hidden;
}
.button-list {
  float: right;
}
.button-list li {
  display: inline-block;
}
.text-list {
  list-style: disc inside;
}
.text-list li {
  padding-bottom: 5px;
  line-height: 1.4;
  text-align: left;
}
.alert-layer {
  color: red;
  font-size: 0.929em;
  line-height: 1.3;
}
.checkbox .alert-layer {
  width: 250px;
}
.aboutuspage .heading-1 h2 {
  width: 100%;
  padding-right: 0;
}
.item-list-6 li {
  overflow: hidden;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #999;
}
.item-list-6 .description {
  padding-left: 15px;
  overflow: hidden;
}
.item-list-6 .left-box {
  float: left;
  padding: 0 15px 15px 0;
  margin-bottom: 15px;
  width: 288px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-list-6 .left-box .name {
  padding: 11px 5px 13px 17px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 1.214em;
  font-weight: normal;
  background-color: black;
}
.item-list-6 .left-box .content {
  padding: 0 15px;
}
.item-list-6 .left-box p {
  padding-bottom: 0;
  color: black;
}
.item-list-6 .left-box a {
  color: black;
}
.item-list-6 .left-box a:hover {
  text-decoration: underline;
}
.item-list-6 .right-box {
  overflow: hidden;
  padding-left: 10px;
  border-left: 1px dotted #999;
  min-height: 245px;
}
.item-list-6 .right-box p {
  padding-bottom: 15px;
  font-size: 1.071em;
  line-height: 1.3;
}
.contactpage .heading-1 h2 {
  padding: 7px 0 0 20px;
  width: 100%;
  margin-bottom: 0;
  border-bottom: none;
  background: url(../images/icon-2.png) no-repeat 0 center;
}
.contactpage .details {
  padding: 0 0 0 20px;
  margin: 0;
  border-bottom: none;
}
.contactpage .details .title {
  margin-bottom: 18px;
  font-size: 1.214em;
}
.contactpage .details p {
  padding-bottom: 0;
  line-height: 1;
}
.back-link {
  font-weight: bold;
  margin-bottom: 8px;
  display: inline-block;
  background: url(../images/back-arrow.gif) 0 2px no-repeat;
  padding-left: 12px;
}
.back-link-pos {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.lang-block {
  float: right;
  height: 90px;
  display: table;
  vertical-align: middle;
}
.lang-block a {
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 20px;
}
.lang-block img {
  max-width: 100%;
}
.lang-block dt {font-weight: bold;}
.lang-block dt, .lang-block dd {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
/* start newsletter_index */
.form-newsletter {
  padding: 0;
}
.form-newsletter .content:first-child {
  padding: 33px 35px 40px;
}
.form-newsletter p {
  font-size: 1.071em;
  margin-bottom: 25px;
}
.form-newsletter .checkbox-block {
  display: table;
  margin: 10px 0;
}
.form-newsletter .checkbox-block > label {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.form-newsletter .checkbox-group {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.form-newsletter .checkbox-group label {
  display: block;
  line-height: 1.4;
}
.form-newsletter .checkbox-group input {
  margin-top: 0;
}
.banner {
  padding-bottom: 36px;
  background: url(../images/bgd-slider.png) no-repeat center bottom;
}
.banner img {
  width: 100%;
}
#sidebar img {
  width: 100%;
}
.link-block {
  background: #000;
  border: 1px solid #e5e5e5;
  padding: 17px 19px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px #e5e5e5;
  -moz-box-shadow: 2px 2px #e5e5e5;
  box-shadow: 2px 2px #e5e5e5;
  color: #fff;
  display: block;
}
.link-block:hover, .link-block:visited {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.link-block .title {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}
.link-block .content {
  margin-top: 10px;
  line-height: 1.2;
}
.link-block-1 {
  float: right;
  width: 26%;
  margin-top: 8px;
  border: none;
}
.link-block-2 {
  border: none;
  margin-top: 8px;
}
.link-block-1 .title, .link-block-2 .title {
  text-align: center;
  line-height: 1.2em;
  border: none;
}
/* end newsletter_index */

@media only screen and (max-width: 1024px) {
  .main-nav a {
    font-size: 1.2em;
    padding: 0 2.7%;
  }
  .main-nav a.active:before {
    margin: 0 30px -23px 0;
  }
  .main-nav a.active:after {
    margin: 0 0 -23px 30px;
  }
  .block-1 {
    height: auto;
  }
  #sidebar {

    width: 33.33%;
  }
  .homepage .main-content, .newsletter-index-page .main-content{
    width: 63%;
  }
  .item-list-6 li {
    padding-bottom: 0;
  }
  .item-list-6 .left-box {
    padding-right: 0;
    width: 100%;
    border-bottom: 1px dotted #999;
  }
  .item-list-6 .right-box {
    padding: 0;
    clear: both;
    min-height: inherit;
    border: none;
  }
  .paging {
    margin-top: 28px;
  }
  .social > li {
    margin: 0 7px 10px;
  }
  .button-list-1 > li {
    width: 100%;
  }
  .button-list-1 > li:first-child {
    margin: 0 0 15px;
  }
  .notice {
    display: block;
  }
  .video-iframe {
    height: 481px;
  }
  #sketcs {
    display: none !important;
  }
  #sketcs-item {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #header .logo {
    margin: 0 0 0 31px;
  }
  .main-nav {
    padding: 0 20px;
  }
  .main-nav a {
    padding: 0 2% 23px;
  }
  .main-nav a.active:before {
    margin: 0 10px -23px 0;
  }
  .main-nav a.active:after {
    margin: 0 0 -23px 20px;
  }
  #main {
    padding: 15px 20px;
  }
  #main-slideshow .flex-viewport {
    padding-bottom: 27px;
    background-size: 800px 27px;+
    position: relative;
  }
 
  #main-slideshow .flex-next,
  #main-slideshow .flex-prev {
    margin-top: -40px;
    width: 29px;
    height: 45px;
    background-size: 29px 45px;
  }
  .item-list-2 figure {
    padding-right: 10px;
    width: 210px;
  }
  .item-list-2 .infos p {
    width: 100%;
    padding-bottom: 10px;
  }
  .block-3 {
    width: 50%;
  }
  .block-3:nth-child(3) {
    display: none;
  }
  .aboutuspage .heading-1 {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  .heading-1 h2 {
    padding: 0 0 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px dotted #999;
  }
  .heading-1 .price-1 {
    float: none;
    max-width: 100%;
    clear: both;
  }
  .info-box .heading-1 {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .advisorypage .thumb-photo {
    margin: 0 0 10px;
    max-width: 100%;
  }
  .video-iframe {
    height: 400px;
  }
  .page-1 .description {
    padding: 0;
    width: 100%;
    border: none;
  }
  #footer > .inner {
    padding: 25px 20px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .tabs li {
    font-size: 1em;
  }
  .page-1 .tab-box {
    padding: 10px;
  }
  .page-1 .description {
    height: 350px;
    overflow: auto;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-1 .description strong {
    font-size: 1.077em;
  }
  .page-1 .main-content h2 {
    font-size: 1.231em;
  }
  .contactpage .details .title {
    font-size: 1.077em;
  }
  .block-4 .tab-box {
    padding: 10px;
  }
  .block-4 .description h3 {
    font-size: 1.077em;
  }
  .block-4 .description > .content p {
    padding-bottom: 10px;
  }
  .tab-box > .description {
    clear: both;
  }
  .description .details {
    min-height: inherit;
  }
  .info-box .price-1 {
    font-size: 1em;
  }
  .info-box .price-1 span {
    font-size: 1.231em;
  }
  .heading-1 h2 {
    font-size: 1.231em;
  }
  .heading-1 h2 .sub-title {
    font-size: 0.75em;
  }
  .heading-1 .price-1 {
    font-size: 0.923em;
  }
  .heading-1 .price-1 span {
    font-size: 1.333em;
  }
  .item-list-2 .infos p {
    font-size: 0.923em;
  }
  .item-list-2 .description {
    padding-left: 10px;
  }
  .status-box li {
    font-size: 0.923em;
  }
  .status-box li:first-child {
    font-size: 1.231em;
  }
  .detail-box {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .detail-box > .item-list-4 {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }
  .detail-box > .item-list-4 li {
    font-size: 0.923em;
  }
  .detail-box h3 {
    padding-top: 0;
    font-size: 1.077em;
  }
  .detail-box .under {
    overflow: hidden;
    padding-left: 10px;
  }
  .thumb-photo {
    margin: 0 0 10px;
  }
  .button-list-1 li {
    width: 49%;
  }
  .button-list-1 li:first-child {
    margin: 0 2% 0 0;
  }
  .list-form > li {
    width: 100%;
  }
  .list-form > li:nth-child(2n+1) {
    margin: 0;
  }
  .label-2 {
    font-size: 1em;
  }
  .video-iframe {
    height: 388px;
  }
  .item-list-1 figcaption .detail {
    padding: 7px 12px 10px;
  }
  .block-2:last-child {height: auto;}
}
@media only screen and (max-width: 767px) {
  #header {
    height: 85px;
    padding: 0;
    position: relative;
    overflow: visible;
  }
  #header .logo {
    width: 100%;
    padding: 15px;
    min-height: 80px;
    margin-left: 0px;
    background-color: #fff;
  }

  .main-nav {
    display: none;
  }
  .button-nav {
    display: block;
  }
  #main-slideshow figcaption {
    position: static;
    background: #000;
    overflow: hidden;
    width: 100%;
  }
  #main-slideshow .flex-next, #main-slideshow .flex-prev {
    margin-top: -22.5px;
  }
  #sidebar {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .homepage .main-content, .newsletter-index-page .main-content{
    clear: both;
    width: 100%;
  }
  .lang-block {
    float: left;
  }

  /* newsletter_index */
  .form-newsletter .content:first-child {
    padding: 10px;
  }
  .form-newsletter p {
    margin-bottom: 10px;
  }
  .link-block-1 {
    float: none;
    width: 100%;
    clear: both;
  }
}
@media only screen and (max-width: 680px) {
  #main {
    padding: 10px 20px;
  }
  #main-slideshow .btn {
    display: none;
  }
  #main-slideshow figcaption {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  #main-slideshow .desc {
    padding: 10px;
  }
  #main-slideshow .desc h2 {
    padding-bottom: 0;
    font-size: 1.385em;
  }
  .item-list-2 .thumbnail {
    width: 100%;
    max-width: 100%;
    padding: 0 0 15px;
  }
  .item-list-2 .description {
    clear: both;
    padding: 0;
  }
  .item-list-2 .infos p {
    width: 50%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .item-list-6 .description {
    clear: both;
    padding: 1px 0 0;
  }
  .item-list-6 .left-box .content {
    padding: 0;
  }
  .module figcaption {
    overflow: hidden;
  }
  .module figcaption .details p:last-child {
    padding-bottom: 0;
  }
  .thumb-photo {
    max-width: 100%;
  }
  #aboutus-people .thumb-photo {
    margin: 0;
  }
  .info-box {
    max-width: 100%;
    margin: 0 0 20px;
  }
  .status-box {
    width: 100%;
    margin-bottom: 15px;
  }
  .page-1 .tab-box {
    padding: 5px;
  }
  .input-2 {
    width: 100%;
  }
  .form-block .content {
    padding: 5px 5px 20px;
  }
  .button-list-1 li {
    width: 100%;
  }
  .button-list-1 li:first-child {
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 568px) {

  .item-list-1 li {
    padding-bottom: 19px;
    width: 100%;
    margin-right: 0;
    background: url(../images/brd-items-2.png) no-repeat center bottom;
  }
  .item-list-1 figcaption .detail {
    height: auto;
  }
  .item-list-1 figcaption .title {
    height: auto;
  }
  .detail-box > .item-list-4 {
    width: 100%;
  }
  .detail-box .under {
    padding: 15px 0 0;
    width: 100%;
  }
  .list-form > li {
    width: 100%;
  }
  .checkbox {
    float: none;
  }
  .button-list {
    float: none;
    width: 100%;
  }
  .button-list li {
    width: 50%;
    margin-right: -4px;
    text-align: right;
  }
  .button-list li:first-child {
    text-align: left;
  }
  .button-list-1 {
    padding-bottom: 15px;
  }
  .button-list-1 li {
    width: 49%;
  }
  .button-list-1 li:first-child {
    margin: 0 2% 0 0;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    padding: 10px;
  }
  #main-slideshow .slides img {
    height: 260px;
    max-width: none;
  }
  #project-slider .flex-prev,
  #project-slider .flex-next {
    margin-top: -25px;
    width: 25px;
    height: 50px;
    background-size: 25px 50px;
  }
  #thumbs .slides,
  #thumbnails .slides {
    padding: 10px 0;
  }
  .contactpage .heading-1 h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .tabs {
    margin-bottom: 10px;
  }
  .tabs li {
    width: 100%;
    text-align: center;
  }
  .item-list-2 .description {
    clear: both;
  }
  .item-list-2 .infos p:first-child {
    padding-bottom: 10px;
    width: 100%;
  }
  .item-list-2 .infos p:last-child {
    width: 100%;
  }
  .paging > li {
    max-width: 100px;
  }
  .price-1 {
    float: none;
    max-width: 100%;
  }
  .block-4 .tab-box {
    padding: 5px;
  }
  #footer > .inner {
    padding: 15px 0;
  }
  .block-3 {
    display: none;
    min-height: inherit;
  }
  .block-3:first-child {
    display: block;
    width: 100%;
    border: none;
  }
  .block-3 .navigation-list li {
    width: 33.33%;
  }
  #sketcs .status-box {
    top: 4px;
    left: 0;
  }
  .video-iframe {
    height: 253px;
  }
  #map-canvas {
    height: 460px;
  }
}
@media only screen and (max-width: 350px) {
  #header {
    height: 60px;
    background-size: 1px 60px;
  }
  /*#header .logo {
    max-width: 130px;
    margin: 10px;
  }*/
  #header .logo img {
    max-width: 100%;
  }
  .button-nav {
    padding: 12px 11px 7px;
    width: 60px;
  }
  .button-nav span {
    height: 5px;
    margin-bottom: 8px;
  }
  .main-nav-2 {
    top: 59px;
  }
  #main {
    padding: 10px;
  }
  .paging {
    padding: 0;
  }
  .button-list li {
    margin-bottom: 10px;
    width: 100%;
  }
  .button-list .btn {
    margin-bottom: 5px;
    width: 100%;
  }
  .button-list-1 li {
    width: 100%;
  }
  .button-list-1 li:first-child {
    margin: 0 0 15px;
  }
  .block-3:first-child {
    padding: 10px;
  }
  .block-3 .navigation-list li {
    width: 50%;
  }
  .holiday-projects li {
    width: 100%;
  }
  #sketcs .status-box {
    width: 100%;
    min-width: inherit;
  }
}
@media print {
  body {
    margin: 0;
    background: transparent;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
  }
  img,
  fieldset {
    border: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.0em;
  }
  h6 {
    font-size: 0.9em;
  }
  ol,
  ul {
    list-style-type: none;
  }
  ol li,
  ul li {
    list-style-type: disc;
  }
  dt {
    font-weight: bold;
  }
  a,
  a:visited {
    color: #000;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  input,
  select,
  textarea {
    border: 1px solid #000;
  }
  input {
    padding: 1px 0;
  }
  select {
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: normal;
  }
  img {
    max-width: 100%;
  }
  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }
  div {
    text-align: left;
  }
  caption {
    display: none;
  }
  table {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-collapse: separate;
    border-spacing: 0;
  }
  table th,
  table td {
    padding: 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
}
.status-detail {
  position: absolute;
  top: 4px;
  left: 0;
  width: 29.5%;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 -4px #000000;
  -moz-box-shadow: 0 -4px #000000;
  box-shadow: 0 -4px #000000;
  z-index: 10;
}
.status-detail li {
  overflow: hidden;
  padding: 8px 10px 8px 10px;
  font-size: 0.787em;
}
.status-detail li:first-child {
  font-size: 1em;
  color: black;
}
.status-detail li:nth-child(even) {
  background-color: #e4e4e4;
}
.status-detail li:nth-child(odd) {
  background-color: #f7f7f7;
}
.status-detail li strong {
  float: right;
}
.status-detail p {
  background-color: white;
  padding: 10px;
}
