include ../mixins/all
.col-sm-6.custom-padding
  h3.title Post your resume
  .content
    form(action='', method='post', novalidate, name='resumeform', autocomplete="off", data-valid-form="", data-type-valid="apply-form", data-remove-holder="mobile").form-1.resume-form#resume-form
      .row
        .col-sm-6
          .form-group
            label(for="username", data-holder) Name
              span.orange *
            .input-group
              +input('text', 'username', '', 'username')(required="required")
          .form-group
            label(for="lastname", data-holder) Last name
              span.orange *
            .input-group
              +input('text', 'lastname', '', 'lastname')(required="required")
          .form-group
            label(for="email", data-holder) Email
              span.orange *
            .input-group
              +input('text', 'email', '', 'email')(required="required")
          .form-group
            label(data-holder) Upload CV
              span.orange *
            .upload.input-group
              +input('file', 'file')(required="required")
              +input('text', 'upload', '', 'upload')
              span.browse Browse
        .col-sm-6.break-line
          .form-group.comment
            label(for="comment", data-holder) Comments
              span.orange
            textarea(id="comment", name='comment')
          .form-group.capcha
            label(for="security") Security images
              span.orange *
            .field-capcha
              +img('../images/photo-capcha.jpg', '')
            .field-security.input-group
              +input('text', 'security', '', 'security')(required="required")
          .form-group.group-btn
            button(type="submit", name="submitbtn").send-btn.btn.btn-color
              span Send
            button(type="reset").send-btn.btn.btn-color.clear-btn
              span Clear
