
<main id="main" class="science-behind-page">
  <div class="inner">
    <div class="science-behind">
      <div class="motivation-block-1">
        <div class="content">
          <div class="text-intro">
            <p>{{l10n.science.textIntro}}</p>
          </div>
          <div class="image-motivation"><img src="images/image-handcake.png" alt="hand cake"/>
          </div>
        </div>
      </div>
      <div class="link-science"><i class="icon-science"></i><span>{{l10n.science.readScience}}</span></div>
      <div class="science-block">
        <p>{{l10n.science.content}}</p>
      </div>
    </div>
  </div>
</main>