.bilan.bilan-cms.item
  .slider(data-slider, data-stop-mobile="true")
    .preview
      ul
        li
          .row
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 1
                  | Before
              .chart.col-xs-2.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#b49b25", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text MOYENNE PAYS
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 2
                  | Reception
              .chart.col-xs-4.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#b7b29c", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text Average Country
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 3
                  | Back bar
              .chart.col-xs-4.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#8d7688", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text Average Country

        li
          .row
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 5
                  | Back bar
              .chart.col-xs-4.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#9ebdb5", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text Average Country
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 6
                  | Technique
              .chart.col-xs-2.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#8d7688", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text Average Country
            .col-sm-4(data-category-id="11")
              .setting-title.col-xs-6.col-sm-12
                h2.headline-4
                  span.number.number-1 7
                  | Before
              .chart.col-xs-4.cms-chart(data-smPiechart, data-percent="59", data-colorbar="#b7b29c", data-line-width="11", data-user-rate="true")
                .content
                  span.pertcent 59%
                  br
                  span.text Salon
              .col-xs-3.chart-small.cms-chart-small.col-xs-offset-6
                .chart.chart-2(data-smPiechart, data-percent="40", data-colorbar="#444242", data-line-width="3", data-avg-rate="true")
                .content
                  span.pertcent 40%
                  br
                  span.text Average Country
    .control
      .block-control
        ul.pagination-bilan
          li
          li
        +link('Previous').button-control.button-prev &nbsp;
        +link('Next').button-control.button-next &nbsp;
