.check.ckeck-step.item.active(data-quiz-url="json/cms-quiz.json",data-quiz-post-url="json/save-quiz-cms.json")
  .row
    .col-sm-8.block-left-step
      .inner
        +img('logo-emotion.png', 'Salon Emotion').img-responsive(data-quiz-trigger="1")
        p.step-1(data-quiz-trigger="1")
          span.number 1
          span.text before
        p.step-2(data-quiz-trigger="2")
          span.number 2
          span.text reception
        p.step-3(data-quiz-trigger="3")
          span.number 3
          span.text diagnosis
        p.step-4(data-quiz-trigger="4")
          span.number 4
          span.text back bar
        p.step-5(data-quiz-trigger="5")
          span.number 5
          span.text technique
        p.step-6(data-quiz-trigger="6")
          span.number 6
          span.text shopping
        p.step-7(data-quiz-trigger="7")
          span.number 7
          span.text check-out
    .col-sm-4.block-right-step
      p
        span.text-first The
        span.text-number 7
        span.text-second key steps
        span.text-third of the client’s
        span.text-last emotionnal journey
