ul.carousel-indicators
    li.active( data-slide-to='0',data-target='.carousel-mysalon')
        h2.headline-1
          span.icon-check.wi-icon
          | Check
    li(data-slide-to='1',data-target='.carousel-mysalon')
        h2.headline-1
          span.icon-diagram.wi-icon
          | Diagram
    li(data-slide-to='2',data-target='.carousel-mysalon')
        h2.headline-1
          span.icon-blan.wi-icon
          | Bilan
