.modal.fade.mess-error.mess-confirm-error#mess-confirm-error(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .content.grey-content
    .wi-icon.close(data-dismiss='modal')

    form.form-error.form#form-confirm-error(name="error", data-placeholder)
      p.message This  email address has never been  used  to  access  to  the website.
      .form-group.wapper-button
        .col-xs-6
          button#mess-error-cancel.btn.button-green.pull-left(type='button', data-dismiss='modal') No
        .col-xs-6
          button#mess-confirm-error-ok.btn.button-green.pull-right(type='button') Yes
