#search-modal.modal.fade.default-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel',data-autocomplete='true',data-autocomplete-url='ajax/search.html',data-loadsalon-url='json/load-salon.json')
  .modal-dialog
    .inner
      .block-1
        span.wi-icon.icon-search-box
        .search-box
          input(type="text", placeholder="Boulogne billancourt")
        span.wi-icon.close(data-dismiss='modal')
      .block-2
        ul.list-search
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="1")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="2")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="3")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="4")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="5")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="6")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="7")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="7")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="7")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="7")
          li
            +link('Salon Jean Pierre Marie, Boulogne Billancourt')(data-salon-id="7")
