.check.item.active(data-quiz-url="json/cms-quiz.json",data-quiz-post-url="json/save-quiz-cms.json")
  +thumbnail('photo-1.jpg','salon','87', '11')
  +thumbnail('photo-2.jpg','reputation','61', '22')
  +thumbnail('photo-3.jpg','teams','76', '33')
  +thumbnail('photo-4.jpg','clients','24', '44')
  +thumbnail('photo-5.jpg','image','46', '55')
  +thumbnail('photo-6.jpg','management','38', '66')
