// Responsive

@media only screen  and (min-width: 1281px) {
  .no-touch {
    #mysalon .chart-small { margin-top: -255px; }
    .chart-small { margin: -190px 0 0 60%; }
    #emotion .bilan .col-sm-3 {
      &:first-child { margin-left: -25px}
      .setting-title .headline-4 { margin-left: 27%}
    }
    #mysalon .bilan .col-sm-4 {
      &:first-child {
        .setting-title .headline-4 { margin-left: 29%}
      }
      .setting-title .headline-4 { margin-left: 31%}
    }
  }

}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .carousel-1, .carousel-mysalon {
    .carousel-inner {
      min-height: 650px;
    }
 }
  .highcharts-xaxis-labels text { font-family: @font-family-base}
  .no-touch {
    #mysalon .bilan {
      .col-sm-4:first-child {
        margin-left: -22px;
        .setting-title .headline-4 { margin-left: 43px}
      }
    }
    #emotion .bilan {
      .setting-title .headline-4 { margin-left: 32px;}
      .col-sm-3:first-child { margin-left: -12px}
    }
  }
}

@media only screen and (width: 1024px) {
  .no-touch {
    .chart { .square(150px);}
    .chart-2 { .square(18px);}
    .cms-chart {
      .square(180px);
    }
    .chart-small {
      margin: -171px 0 0 150px;
    }
    .cms-chart-small {
      margin: -213px 0 0 200px;
    }
    #emotion .bilan {
      .col-sm-3:first-child { margin-left: -24px}
      .setting-title .headline-4 {
        .font-size(11px);
        margin-left: 13px;
      }
    }
    #mysalon .bilan {
      .col-sm-4:first-child {
        margin-left: -32px;
        .setting-title .headline-4 {
           margin-left: 16px;
        }
      }
      .setting-title .headline-4 { margin-left: 17px;}
     }
  }
}
@media only screen and (max-width: 1024px) {
  .result-quiz-cms .chart .content { margin: 5px 0; }
}
@media only screen and (min-width: 768px) {
  #emotion {
    .bilan {
      .setting-title .headline-4 {
        line-height: 45px;
        .font-size(13px);
        .number {
          .square(45px);
          .font-size(14px);
        }
      }
    }
  }
  .no-touch {
    #mysalon .bilan {
      .setting-title .headline-4 {
        margin-left: 72px;
      }
    }
    .carousel-4 {
      .chart .content { margin-left: 0; margin-top: 0}
    }
  }
}

@media only screen and  (max-width: 1024px) and (min-width:768px) {
  .container-chart.chart-block{margin-left: -60px}
  #emotion .bilan {
    .col-sm-3:first-child { margin-left: -17px}
    .setting-title .headline-4 { margin-left: 6px}
  }
  .chart-small { margin-left: 152px}
  .cms-chart-small { margin: -241px 0 0 192px}
  #mysalon .bilan {
    .col-sm-4:first-child {
      .setting-title .headline-4 {
        margin-left: 6px;
      }
    }
    .setting-title .headline-4 {
      .font-size(12px);
      margin-left: 10%;
    }
    .col-sm-4:first-child { margin-left: -27px}
  }
}

@media only screen and (max-width: 800px) and (min-width:768px) {
  .form-setting {
    .col-sm-9 {
      width: 65%;
    }
  }
  .bilan {
    .setting-title {
      padding: 16px 0 16px 3px;
      .headline-4 {
        .font-size(14px);
        .number {
          .square(36px);
          margin-right: 5px;
          line-height: 30px;
        }
      }
    }
  }
  .chart {
    .square(140px);
    .text {
      .font-size(16px);
    }
    .pertcent {
      .font-size(40px);
      font-style: italic;
    }
    .content {
      margin-left: -11px;
    }
    canvas {
      margin-left: 10px;
    }
  }
  .chart-2 {
    .square(22px);
  }
  .chart-small {
    width: 70%;
    margin:-170px 0 0 70px;
    white-space: normal;
    .content {
      margin-left: 7px;
      max-width: 140px;
      .font-size(12px);
      .pertcent {
        .font-size(14px);
      }
      .text {
        .font-size(10px);
      }
    }
    canvas {
      margin-left:0;
    }
  }
  .logo-mysalon {
    text-align: right;
  }
  .send-email {
    right: 0;
    padding:10px 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
@media only screen and (max-width: 800px) {

  .setting-title {
    padding: 16px 27px;
  }
  .form-setting {
    .col-sm-9 {
      padding-right: 15px;
    }
    .col-sm-3 {
      width: 35%;
    }
    .block-1 {
      margin-left: -45px;
    }
    .block-2 {
      .footer-setting {
        margin-left: -91px;
      }
    }
  }
}
@media only screen and (min-width: 768px){
  #forgot-pass .btn-confirm, #sendmail-modal .btn-confirm {
    width: 100%;
  }
  .header { height: 142px}
  .header-login { height: auto}
}
@media only screen and (max-width: 767px) {
  .container-chart.chart-block {
    margin-top: 20px; padding: 0 20px;
  }
  .block-page {
    margin-top: 3px;
  }
  .logo-login {
    padding: 20px
  }
  .btn {
    min-width: 100px;
  }
  .cms-chart canvas {
    .square(92px)!important;
    margin-left: 0;
  }
  .carousel-4 .item .block-left.result-quiz-cms {
    margin-top: 50px;
    max-width: none;
    .send-email {
      top: 40px;
      padding-left: 0;
      clear: both;
    }
    .cms-chart {
      .square(92px);
      float: left;
      padding-right: 150px;
      .content {
        margin-top: 0;
        margin-left: 0;
        left: 100px;
        padding: 0;
        top: 0;
      }
    }
    .cms-chart-small {
      margin: 0;
      float: left;
      .content {
        width: auto;
        max-width: auto;
        text-align: left;
        .text {
          .font-size(24px);
          font-family: @font-family-proximanova-light;
          text-transform: uppercase;
          max-width: none;
          white-space: nowrap;
        }
        .pertcent {
          .font-size(64px);
          font-family: @font-family-proximanova-bold;
        }
      }
    }
  }
  .block-select-cms {
    background: white;
    overflow: hidden;
  }
  .select-sms {
    display: block;
  }
  #quiz-cms-modal {
    .block-page{ display: none !important;}
    .carousel-indicators { display: none;}
  }
  .bilan  .setting-title {
    display: inline-block;
    width: 50%;
  }
  #mess-confirm-error {
    .wapper-button {
      display: table-cell;
    }
  }
  #email-message  .content p {
    padding: 0;
  }
  .modal .content p { .font-size(16px) }
  .form-error {
    overflow: hidden;
    display: table;
    .square(100%);
    p {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    .form-group {
      display: table;
      width:100%;
    }
  }
  .block-left-step  {
    padding-left: 15px;
    padding-right: 15px;
    .text {
      max-width: 75px;
      padding-top: 8%;
    }
    .step-1,
    .step-2,
    .step-3,
    .step-4 {
      .number {
        float: left;
      }
    }
    .step-4 { min-width: 65px}
  }

  .ckeck-step  {
    .block-left-step ,
    .block-right-step {
      float: none;
    }
  }
  .modal-backdrop {
    height: auto!important;
  }
  .carousel-2 .carousel-inner .item {
    min-height: 100%!important;
  }
  .carousel-3 .carousel-inner {
    .item {
      min-height: 400px;
    }
    .default-modal .inner {
      min-height: 300px !important;
    }
  }
  .carousel-1, .carousel-mysalon {
    .carousel-inner {
      min-height: 300px !important;
    }
  }
  // Header

  .header {
    padding: 0;
    .logo {
      padding-top: 4%;
    }
    .left {
      padding-left: 7%;
      padding-top: 9%;
    }
    .right {
      text-align: right;
      padding-right: 6%;
      padding-left: 8%;
      height: 100px;
      a {
        display: block;
      }
      .text-center {
        text-align: right;
      }
    }
  }
  .header-bottom {
    border-top: 1px solid @grey-1;
    margin-top: 3%;
    display: table;
    min-height: 50px;
    padding:3.5% 0 3.5% 7%;
    width: 100%;
    .utility {
      display: table-cell;
      vertical-align: middle;
      li {
        padding-right: 38px;
      }
    }
  }
  .icon-logout {
    .square(48px);
    background: url('@{img-path}icon-logout.png') no-repeat;
  }
   .setting-title  .icon-setting {
    margin-top: 0;
   }
  .setting-title  .icon-setting,
  .icon-setting {
    .square(48px);
    background: url('@{img-path}icon-setting.png') no-repeat;
  }
  .icon-search {
    .square(48px);
    background: url('@{img-path}icon-search.png') no-repeat;
  }
  .icon-add {
    .square(48px);
    background: url('@{img-path}icon-add.png') no-repeat;
  }
  .icon-check {
    .square(32px);
    background: url('@{img-path}icon-check.png') no-repeat;
    background-size: contain;
  }
  .icon-diagram {
    .square(32px);

    background: url('@{img-path}icon-diagram.png') no-repeat;
    background-size: contain;
  }
  .icon-blan {
    .square(32px);
    background: url('@{img-path}icon-bilan.png') no-repeat;
    background-size: contain;
  }
  .header {
    .logo {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .carousel{
    overflow: hidden;
  }
  .carousel-indicators {
    width: 101%;
    li {
      &:hover, &:focus, &.active {
        .icon-check {
          background: url('@{img-path}icon-check-hover.png') no-repeat;
          background-size: contain;
        }
        .icon-diagram {
          background: url('@{img-path}icon-diagram-hover.png') no-repeat;
          background-size: contain;
        }
        .icon-blan {
          background: url('@{img-path}icon-bilan-hover.png') no-repeat;
          background-size: contain;
        }
      }
      .headline-1 {
        .font-size(22px);
        line-height: 32px;
        padding: 14% 0 18%;
      }
      &.active {
        .headline-1 {
          border-top: 10px solid @green;
        }
      }
    }
  }

  // Home page - Main
  .thumbnails {
    float: none;
    width: 100%;
    height: 100px;
    overflow: hidden;
    .image {
      display: table;
      width: 100%;
      img {
        display: table-cell;
        vertical-align: middle;
      }
      .img-desktop { display: none;}
      .img-mobile { display: block;}
    }
    .content {
      .size(101%; 100px);
      padding:0 5% 0 5%;
      .headline-2 {
        .font-size(36px);
      }
      .score {
        .font-size(26px);
        font-weight: bold;
        margin-top: 30px;
        span {
          font-weight: 300;
        }
      }
    }
  }
  // Setting
  .form-setting {
    .block-1 {
      margin-left: 0;
      padding-bottom: 5px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        height: 1px;
        background:  @grey-8;
      }
    }
    .block-2 { margin-top: 15px}
    .form-group {
      label {
        display: none;
      }
      .form-control {
        .placeholder-1();
      }
      .button-list {
        float: none;
      }
    }
    .btn-cancel,
    .btn-confirm {
      width: 100%;
    }
  }
  // Quiz - CMS
  .carousel-indicators {
    &.quiz-cms {
      li {
        border-top: none;
        width: inherit;
        .headline-1 {
          border-top: 5px solid transparent;
          padding: 20px 10% 18px 10%;
          text-align: center;
          .font-size(18px);
        }
        &.active {
          .headline-1 {
            border-top: 5px solid #b49b25;
          }
        }
      }
    }
  }

  .carousel-4 .quiz-content {
    padding-top: 0;
  }
  button.confirm {
    width: 100%;
  }
  .send-email {
    position: relative;
    width: 100%;
  }
  .button-list {
    .button-left {
      text-align: left;
    }
  }

  /* register */

  .block-login { padding: 30px 0}
  .block-landing a { width: 45%}

  /* mess error */

  .mess-error {
    .wapper-button {
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      overflow: hidden;
      display: block;
    }
  }
  .form-error {
    padding-bottom: 60px;
    margin-top: 40px;
  }
  .login .default-modal .content {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  #sendmail-modal {
    .content {
      left: 0;
    }
  }
  #email-message {
    .content{
      p { text-align: center;}
    }
  }
    .mess-error,
    #email-message {
      .content {
        .size(360px,auto);
        margin-left: -180px;
      }
    }

    #mess-confirm-error p {
      padding: 0 10px;
    }

    #mess-error.modal .content p {
      margin-top: 0;
    }

    .chart-block {
      margin: 0 auto;
    }
    .chart-block {
      text {
        font-size: 10px!important;
        max-height: 9999px;
      }
      * {
        overflow: visible!important;
      }
    }

    .form-setting .block-2 .footer-setting,
    .footer-setting {
      margin-left: 0;
      width: 100%;
      float: none;
      margin-bottom: 30px;
      > div {
        padding: 0;
        float: right;
        width: auto;
      }
      > div:first-child { float: left;}
    }

    #setting-modal {
      .carousel-inner {
        padding-bottom: 30px;
      }
    }

    .logo-login a { max-width: 200px}
    #forgot-pass.modal .content,
    #sendmail-modal.modal .content {
      width: 100%;
      margin: 0;
    }
    #forgot-pass.modal, #sendmail-modal.modal {
      .close {
        z-index: 100;
        position: relative;
      }
      .content {
        height: auto;
        margin-top: -80px;
        z-index: 0;
        overflow: hidden;
      }
  }

  .landing { -webkit-transform: translate3d(0,0,0)}

  .form-login {
    .btn-confirm { width: 100% }
    .col-sm-6 { text-align: center }
  }

  .form-login {
    .icon-btn-check {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }
  .quiz-modal .carousel-inner .quiz-content { padding: 55px 0 6px; }
  .quiz-modal {
    height: auto;
    &.in .modal-dialog{
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
    }
    .carousel-inner {
      .quiz-content {
        li {
          border-bottom: 1px solid @gray-11;
          display: block;
          padding: 13px 0 30px 0;
          margin: 0 20px;
          .font-size(15px);
          .checkbox {
            float: left;
            position: relative;
            margin: 0;
            color: red;
            .font-size(26px);
          }
          &:last-child {
            border-bottom: none;
          }
          .check-list {
            height: 32px;
          }
          .text {
            padding: 15px 0 15px 0;
            background: none;
          }
        }
      }
    }
  }
  .carousel-inner .quiz-content li .text {
    .font-size(28px);
  }
  .rating {
    right: inherit;
  }
  .rating > span:before{
    .font-size(40px);
  }
  .block-page  {
    position: absolute;
    top: 0;
    height: 68px;
    background: #FFF;
    border-bottom: 2px solid @gray-11;
    .page-list {
      margin: 17px 15px 16px 0;
      li {
        line-height: 34px;
        .font-size(22px);
        .square(34px;);
        .border-radius(17px);
        margin-left: 35px;
        font-weight: bold;
        background-color: @gray-10;
      }
    }
  }
  .setting-title {
    padding: 16px 20px;
    .close {
      background: url('@{img-path}/icon-close-2.png') no-repeat 0 0;
      background-size: contain;
      .square(58px);
      margin-top: 0;
    }
    .headline-4 {
      .font-size(36px);
      margin-top: 2px;
    }
  }
  .quiz-modal {
    -webkit-overflow-scrolling: touch;
    .modal-dialog {
    -webkit-overflow-scrolling: touch;}

    .btn-outer {
      padding: 15px;
      background: url('@{img-path}/bgd-button-confirm.gif') repeat;
      overflow: hidden;
      position: fixed;
      z-index: 100;
      top: inherit;
      bottom: 0;
      left: 0;
      width: 100%;
      .btn-confirm {
        position: relative;
        bottom: 0;
        right: 0;
        text-align: center;
        width: 100%;
        height: 40px;
        line-height: 25px;
        .font-size(18px);
        .icon-btn-check {
          vertical-align: top;
          background: url('@{img-path}/icon-check-hover.png') no-repeat;
          background-size: contain;
          .square(20px);
          float: none;
          display: inline-block;
          margin-top: 3px;
        }
      }
    }
  }

  .carousel-3,
  .carousel-4 {
    position: relative;
    -webkit-overflow-scrolling: touch;
  }

  .bilan {
    padding: 0 0 20px;
    .col-sm-4:first-child .setting-title { padding-left: 10px}
    .setting-title {
      margin:0;
      padding: 0 0 0 10px;
      background-color: transparent;
      .font-size(24px);
      .headline-4 {
        padding:0 10px 0 90px;
        line-height: 65px;
        color: #211f20;
        .font-size(20px);
        position: relative;
        .number {
          border:1px solid #b49b25;
          .square(62px);
          .border-radius(31px);
          padding:0;
          margin-right: 0;
          .font-size(16px);
          float: left;
          position: absolute;
          top: 0;
          left: 20px;
        }
      }
    }
    .col-sm-3,
    .col-sm-4 {
      overflow: hidden;
      padding: 20px 0;
      border-bottom: 1px solid @gray-11;
    }
    .chart {
      display: inline-block;
      .square(30px);
      .text {
        .font-size(16px);
      }
      .pertcent {
        .font-size(30px);
        font-style: italic;
      }
      .content {
        color: #b49b25 !important;
        text-align: left;
        padding-left: 0;
        margin:-5px 0 0 60px;
      }
      canvas {
        margin-top: 10px;
        .square(40px) !important;
      }
    }
  }
  .bilan .chart-2 {
    display: none;
  }
  .chart-small {
    float: right;
    margin: 12px 0 0 0;
    padding-left: 0;
    .content {
      margin-left: 0;
      .font-size(14px);
      max-width: none;
      .pertcent {
      font-family: @font-family-proximanova-bold;
        .font-size(22px);
      }
      .text {
        max-width: 140px;
        .font-size(16px);
      }
    }
    canvas {
      display: none;
    }
  }
  .slider{
    ul{
      width: 100%;
      li{
        float: none;
        width: 100%;
      }
    }
  }
  .control {
    display: none;
  }
  .carousel-indicators li .headline-1 {
    border-top: 10px solid transparent;
  }
  .block-left-step {
    .inner {
      max-width: 46%;
    }
    span.number {
      .square(35px);
      .font-size(18px);
      line-height: 32px;
    }
    p .text {
      .font-size(14px);
    }
  }
  .block-right-step {
    border-top: 1px solid @grey-6;
    margin: 30px 30px 0;
    padding: 60px 0;
    p {
      margin-left: 28%;
    }
  }
}

@media only screen and (max-width: 667px) and (min-width:569px) {
  .utility li
  {
    span {
      background: url('@{img-path}icon-place.png') no-repeat;
      .size(32px,46px);
      margin-right:4px;
    }
    .salon-name {
      max-width: 225px;
      p {
        &.text-1 {
          .font-size(26px);
          margin-top: -4px;
          line-height: 30px;
        }
        &.text-2 {
          .font-size(20px);
          padding-left: 33px;
        }
      }
    }
    .change-salon {
      a {
        .font-size(16px);
      }
      margin-top: 6px;
    }
  }
}
@media only screen and (max-width: 568px) and (min-width:481px) {
  .utility li {
    span {
      .size(26px,38px);
      background: url('@{img-path}icon-place.png') no-repeat;
      background-size: contain;
      margin-right:4px;
    }
    .salon-name {
      max-width: 215px;
      p {
        &.text-1 {
          .font-size(22px);
          margin-top: -4px;
          line-height: 30px;
        }
        &.text-2 {
          .font-size(16px);
          padding-left: 31px;
        }
      }
    }
    .change-salon {
      a {
        .font-size(12px);
      }
    }
  }
}

@media only screen and (max-width: 667px) {
.cms-chart canvas {
  .square(67px)!important;
}
.carousel-4 .item .block-left {
  margin-top: 30px;
  .send-email {
    top: 40px;
  }
  .cms-chart {
    .text {
      .font-size(24px);
    }
    .pertcent {
      .font-size(51px);
    }
    .square(60px);
    padding-right: 100px;
    .content {
      left: 50px;
   }
  }
  .cms-chart-small {
    .content {
      margin-left: 40px;
      .text {
        .font-size(24px);
      }
      .pertcent {
        .font-size(51px);
      }
    }
  }
}

  .select-sms {
    .size(92%,55px);
    background-image:url('@{img-path}icon-select-mobile.png');
    margin: 13px auto;
    select {
      .font-size(20px);
      .size(100%,55px);
      padding:15px 60px 15px 20px;
    }
  }
  .carousel-indicators.quiz-cms {
    li {
      width: 25%;
      .font-size(12px);
      .headline-1 {
        line-height: 18px;
      }
    }
  }
  .block-page {
    margin-top: 3px;
  }
  .cms-chart {
    margin: 0 auto;
  }
  .block-right-step {
    .step-6 { margin-left: -10px}
  }
  .bilan .chart-small .content {
    max-width: 144px;
  }
  .header-bottom .utility li:last-child {
    padding-right: 0 !important;
  }
  .carousel-inner .quiz-content {
    margin-bottom: 0;
  }

  .carousel-4 .item .block-right {
    margin: 65px 0 80px 0;
  }
}

@media only screen and (max-width: 640px) {
  .header .right {
    height: 170px;
  }
  .carousel-2 {
    min-height: 0;
  }
  .carousel-2 .carousel-inner .item {
      min-height: 300px;
  }
  #profile {
    margin-top: 50px;
  }
  .icon-responsive {
    background-size: contain;
  }
  .header {
    .text-middle {
      img {
        max-width: none;
      }
    }
    .right a {
      &.logo-emotion img{ .square(90%);}
      &.logo-mysalon img{ .square(90%);}
      &.text-right {
        width: 50%;
      }
    }
  }
}
@media only screen and (width: 568px) {
  .thumbnails .image .img-mobile { height: 100%}
}
@media only screen and (max-width: 568px) {

  .header .right { height: 150px}
  .carousel-inner {
    .quiz-content {
      padding: 55px 0 6px;
      li {
        border-bottom: 1px solid @gray-11;
        display: block;
        padding: 13px 0 30px 0;
        margin: 0 20px;
        .font-size(15px);
        .checkbox {
          .font-size(24px);
        }
        &:last-child {
          border-bottom: none;
        }
        .check-list {
          height: 32px;
        }
        .text {
          padding: 15px 0 15px 0;
          background: none;
          .font-size(24px);
        }
      }
    }
  }
  .rating > span:before{
    .font-size(36px);
  }
  .block-page  {
    position: absolute;
    top: 0;
    height: 68px;
    background: #FFF;
    border-bottom: 2px solid @gray-11;
    .page-list {
      margin: 17px 15px 16px 0;
      li {
        line-height: 34px;
        .font-size(22px);
        .square(34px;);
        .border-radius(17px);
        margin-left: 35px;
        font-weight: bold;
        background-color: @gray-10;
      }
    }
  }
  .carousel-3,
  .carousel-4 {
    .btn-outer {
      padding: 20px;
      .btn-confirm {
        height: 40px;
        line-height: 30px;
        .font-size(22px);
        .icon-btn-check {
          .square(22px);
          margin-top: 3px;
        }
      }
    }
  }
  .carousel-indicators {
    li {
      &:hover, &:focus, &.active {
        .icon-check {
          .square(24px);
        }
        .icon-diagram {
          .square(24px);
        }
        .icon-blan {
          .square(24px);
        }
      }
      .headline-1 {
        .font-size(18px);
        line-height: 25px;
        padding: 12% 0 15%;
      }
    }
  }
  .icon-check, .icon-blan {
    .square(24px);
  }
  .icon-diagram {
    .square(24px);
    margin-right: 6px;
  }

  .icon-responsive{
    .square(38px);
  }
  .bilan {
    .setting-title {
      .font-size(24px);
      .headline-4 {
        line-height: 48px;
        .font-size(16px);
        .number {
          .square(46px);
          .border-radius(23px);
          .font-size(16px);
        }
      }
    }
    .chart {
      .text {
        .font-size(14px);
      }
      .pertcent {
        .font-size(22px);
        font-style: italic;
      }
      .content {
        margin:-4px 0 0 45px;
      }
      canvas {
        margin-top: 8px;
        .square(36px) !important;
      }
    }
    .chart-small {
      margin-top: 12px;
      .content {
        .font-size(14px);
        .pertcent {
          .font-size(18px);
        }
        .text {
          max-width: none;
          .font-size(14px);
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
.cms-chart canvas {
  .square(40px)!important;
}
.carousel-4 .item .block-left.result-quiz-cms {
  margin: 30px 15px 0;
  .send-email {
    top: 40px;
    clear: both;
  }
  .cms-chart {
    .text {
      .font-size(14px);
    }
    .pertcent {
      .font-size(28px);
    }
    .square(40px);
    padding-right: 60px;
    .content {
      left: 40px;
   }
  }
  .cms-chart-small {
    .content {
      margin-left: 0;
      .text {
        .font-size(14px);
      }
      .pertcent {
        .font-size(28px);
      }
    }
  }
}

  .carousel-4 .item .block-left .cms-chart-small .content {
    margin-left: 31px;
  }

  .header .right { height: 130px}
  .carousel-inner {
    .quiz-content {
      padding: 55px 0 6px;
      li {
        padding: 3px 0 20px 0;
        margin: 0 10px;
        .font-size(15px);
        .checkbox {
          .font-size(30px);
        }
        .check-list {
          height: 32px;
        }
        .text {
          padding: 15px 0 15px 0;
          .font-size(20px);
        }
      }
    }
  }
  .rating > span:before{
    .font-size(28px);
  }
  .block-page  {
    height: 50px;
    .page-list {
      margin: 11px 15px 16px 0;
      padding-left: 12px;
      li {
        line-height: 28px;
        .font-size(16px);
        .square(26px;);
        .border-radius(23px);
        margin-left: 25px;
      }
    }
  }

  .carousel-indicators {
    li {
      &:hover, &:focus, &.active {
        .icon-check {
          .square(22px);
        }
        .icon-diagram {
          .square(22px);
        }
        .icon-blan {
          .square(22px);
        }
      }
      .headline-1 {
        border-top: 5px solid transparent;
      }
      &.active {
        .headline-1 {
          border-top: 5px solid @green;
        }
      }
    }
  }
  .thumbnails {
    height: 63px;
    .content {
      height: 63px;
      .headline-2 {
        .font-size(26px);
      }
      .score {
        margin-top: 19px;
        .font-size(22px);
        span {
          .font-size(26px);
        }
      }
    }
  }
  .icon-check, .icon-blan {
    .square(22px);
    background-size: contain;
  }
  .icon-diagram {
    .square(22px);
  }

  .footer-setting .btn-confirm { margin-right: 0}

  .setting-title {
    .icon-setting {
      background: url('@{img-path}icon-setting-mobile.png') no-repeat;
      .square(24px);
      margin-top: 8px;
    }
    .headline-4 {
      line-height: 43px;
      .font-size(28px);
      .number {
        .square(50px);
      }
    }
    padding: 16px 12px;
    .close {
      margin-top: 8px;
      background: url('@{img-path}icon-close-mobile.png') no-repeat;
      .square(42px);
    }
  }

  .logo-login a { max-width: 130px}

  /* button */

  .btn {
    padding: 0 15px;
    min-height: 40px;
    .font-size(14px);
  }
  .header-bottom .utility li { padding-right: 25px}
  .icon-responsive {
    .square(28px);
  }
  .bilan {
    .setting-title {
      .font-size(24px);
      .headline-4 {
        padding-left: 70px;
        line-height: 38px;
        .font-size(14px);
        .number {
          .square(38px);
          .border-radius(19px);
          .font-size(14px);
        }
      }
    }
    .chart {
      margin-left: -10px;
      .text {
        .font-size(12px);
      }
      .pertcent {
        .font-size(20px);
        font-style: italic;
      }
      .content {
        margin:0 0 0 20px;
      }
      canvas {
        margin: 0px;
        .square(28px) !important;
      }
    }
    .chart-small {
      padding-left: 0;
      .content {
        .font-size(14px);
        .pertcent {
          .font-size(16px);
        }
        .text {
          .font-size(12px);
        }
      }
    }
  }
  .block-left-step {
    .inner { max-width: 43%}
    .step-3 { margin-left: 4px;}
    .step-6 { margin-right: 4px;}
    .step-5 { margin-top: 0; min-width: 100px}
    .step-4 { margin-left: -55px; margin-top: 3px;}
    p .text { .font-size(10px)}
    span.number {
      .square(25px);
      line-height: 1.4em;
      .font-size(14px)
    }
    .step-5,
    .step-6,
    .step-7 {
      .text { margin-right: 38px;}
    }
  }
  .utility li {
    span {
      .square(28px);
      background: url('@{img-path}icon-place.png') no-repeat;
      background-size: contain;
      margin-right:4px;
    }
    .salon-name p { padding-left: 32px}
  }
}

@media only screen and (width: 375px) {
  .block-left-step {
    .step-4 {
      margin-left: -45px;
      margin-top: -7px;
    }
    .step-5 { margin-top: -5px; }
    .step-7 { margin-right: -16px;}
    .step-2 { margin-left: -18px;}
  }
  .header .right { height: 100px}
  .block-page .page-list li { margin-left: 10px}

}

@media only screen and (max-width: 375px) {
  .carousel-4 .item .block-left.result-quiz-cms .cms-chart .content { margin-left: 0;}
  .mess-error,
  #email-message  {
    .content {
      width: 300px;
      margin-left: -150px;
    }
  }
  .carousel-indicators.quiz-cms li {
    width: 25%;
    .font-size(10px);
    .headline-1 {
      line-height: 18px;
    }
  }
  .header {
    .salon-name {
      max-width: 85px;
    }
  }

  .bilan {
    .setting-title {
      .font-size(24px);
      .headline-4 {
        padding-left: 50px;
        line-height: 30px;
        .font-size(10px);
        .number {
          left: 15px;
          .square(30px);
          .border-radius(15px);
          .font-size(14px);
        }
      }
    }
    .col-sm-3,
    .col-sm-4 {
    }
    .chart {
      .text {
        .font-size(10px);
      }
      .pertcent {
        .font-size(12px);
        font-style: italic;
      }
      .content {
        margin:-11px 0 0 39px;
      }
      canvas {
        margin:4px 0 0 10px;
        .square(24px) !important;
      }
    }
    .chart-small {
      margin-top: 0;
      .content {
        margin-top: 4px;
        max-width: 80px;
        .font-size(12px);
        .pertcent {
          .font-size(14px);
        }
        .text {
          .font-size(10px);
        }
      }
    }
  .header {
    .salon-name {
      max-width: 90px;
    }
  }
  .salon-name {
    margin-left: 17px;
    p {
      &.text-1 {
        .font-size(18px);
      }
      &.text-2{
        .font-size(12px);
      }
    }
  }
  .change-salon {
    padding-left: 16px;
    a { .font-size(12px); }
  }
  .bilan .col-sm-3 .chart .content,
  .bilan .col-sm-4 .chart .content {
    overflow: hidden;
    white-space: normal;
  }
  .block-left-step {
    .step-5,
    .step-6,
    .step-7 {
      .text { margin-right: 38px;}
    }
    .step-5,
    .step-7 {
      min-width: 100px;
      max-width: 110px;
    }
  }
}
} // close 375
@media only screen and (width: 360px) {
  .block-left-step {
    .step-1 { top: -20%}
    .step-2 { margin-left: -17px}
    .step-7 { margin-right: -15px;}
    .step-5 { margin-top: -4px}
    .step-4 {
      margin-left: -44px;
      margin-top: -4px;
    }
  }
}
@media only screen and (max-width: 360px) {
  .block-left-step {
    .step-5,
    .step-6,
    .step-7 {
      .text { margin-right: 33px;}
    }
  }
  .carousel-inner {
    .quiz-content {
      padding: 55px 0 6px;
      li {
        padding: 3px 0 5px 0;
        margin: 0 10px;
        .font-size(15px);
        .checkbox {
          .font-size(20px);
        }
        .check-list {
          height: 32px;
        }
        .text {
          padding: 10px 0 10px 0;
          .font-size(16px);
        }
      }
    }
  }
  .rating > span:before{
    .font-size(22px);
  }
  .rating > span {
    margin-right: 18px;
  }
  .block-page  {
    height: 50px;
    .page-list {
      margin: 11px 15px 16px 0;
      padding-left: 12px;
      li {
        line-height: 28px;
        .font-size(16px);
        .square(26px;);
        .border-radius(23px);
        margin-left: 20px;
      }
    }
  }
  .setting-title {
    .icon-setting {
      margin-top: 4px;
    }
    .headline-4 {
      line-height: 36px;
      .font-size(24px);
      .number {
        margin-right: 10px;
        .square(40px);
      }
    }
    padding: 10px 12px;
    .close {
      margin-top: 0;
      .square(40px);
      background-size: contain;
    }
  }
  .carousel-3,
  .carousel-4 {
    .btn-outer {
      padding: 15px;
      .btn-confirm {
        height: 30px;
        line-height: 26px;
        .font-size(18px);
        .icon-btn-check {
          .square(18px);
          margin-top: 3px;
        }
      }
    }
  }

  .carousel-indicators {
    li {
      &:hover, &:focus, &.active {
        .icon-check {
          .square(18px);
        }
        .icon-diagram {
          .square(18px);
        }
        .icon-blan {
          .square(18px);
        }
      }
      .headline-1 {
        .font-size(14px);
        line-height: 20px;
        padding: 13% 0 12%;
      }
    }
  }
  .icon-check, .icon-blan {
    .square(18px);
  }
  .icon-diagram {
    .square(17px);
  }
  .thumbnails {
    height: 56px;
    .content {
      height: 56px;
      .headline-2 {
        .font-size(20px);
      }
      .score {
        margin-top: 18px;
        .font-size(18px);
        span {
          .font-size(22px);
        }
      }
    }
  }
  .header .right { height: 100px}
}

@media screen and (max-aspect-ratio: 13/9) and (max-width: 320px) {
  .quiz-modal {
    .carousel-3, .carousel-4 {
      padding-top: 65px;
    }
  }
}

@media only screen and (max-width: 375px) and (min-width:360px) {
  .bilan ul li .col-sm-3 .setting-title .headline-4,
  .bilan ul li .col-sm-4 .setting-title .headline-4 {
    .font-size(13px);
  }

}
@media only screen and (max-width: 320px) {
  .footer-setting .btn { min-width: 90px}
  .block-page .page-list li {
    margin-left: 12px;
  }
  .header .right { height: 90px}
  .bilan .chart-small .content {
    max-width: 70px;
  }
  .carousel-indicators {
    li {
      &:hover, &:focus, &.active {
        .icon-check {
          .square(17px);
        }
        .icon-diagram {
          .square(17px);
        }
        .icon-blan {
          .square(17px);
        }
      }
      .headline-1 {
        .font-size(13px);
        padding: 14% 0 13%;
      }
    }
  }
  .icon-check, .icon-blan {
    .square(17px);
    background-size: contain;
  }
  .block-left-step {
    padding: 60px 0;
    .inner { max-width: 33%}
    p .text { .font-size(10px)}
    span.number {
      .square(22px);
      .font-size(12px);
      line-height: 1.3em;
    }
    .step-4 {
      margin-left: -39px;
      margin-top: 0;
    }
    .step-5 {
      margin-left: -57px;
      margin-top: 0
    }
    .step-2 { margin-left:  -5px}
    .step-1 { margin-top: -4px}
    .step-7 { margin-right: -6px}
  }
  .block-right-step {
    margin-top: 0;
    padding: 40px 0;
    p { margin-left: 20%}
    span {
      &.text-second {
        .font-size(30px);
      }
      &.text-third {
        .font-size(26px);
      }
      &.text-last {
        .font-size(26px);
      }
    }
  }
  .setting-title .close { margin-top: 5px; }
  .header-bottom .utility li {
    padding-right: 13px;
  }
  .salon-name {
    max-width: 160px;
    p.text-1 {
      .font-size(19px);
      line-height: 1.2em;
    }
    p.text-2 {
      .font-size(14px);
      line-height: 1.4em;
    }
  }
  .header {
    .salon-name {
      max-width: 90px;
    }
  }
}

@media only screen and (max-width: 1050px) and (min-width: 784px) {
  .step-list-block .step-detail {
    width: 38%;
  }
}
