
<main id="main">
  <div class="inner">
    <div class="intro-product">
      <div class="preview">
        <p class="name-product">NiQuitin Patch</p><img src="images/upload/image-niquitin-1.png" alt="product niquitin patch"/>
      </div>
      <div class="info-block">
        <p>NiQuitin Patch helps prevent the urge <br />to smoke all day long. The patches with unique SmartControl&reg; Technology <br />provide a rapid release followed by a <br /> continuous delivery of nicotine.</p>
      </div>
    </div>
    <div class="your-point">
      <p>Your quit points are&nbsp;<span class="color-orange">325 points</span></p>
    </div><a title="Use your quit points and recieve notice 10% offer" href="javascript:;" class="section-item arrow arrow-2 bg-orange"><span class="text">Use your quit points and <br/>recieve notice 10% offer </span></a>
  </div>
</main>